<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat24-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{368,174}}</string>
                <key>offset</key>
                <string>{-21,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,157},{368,174}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat24-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,275},{438,128}}</string>
                <key>offset</key>
                <string>{10,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,255},{438,128}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat24-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,645},{168,234}}</string>
                <key>offset</key>
                <string>{79,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,92},{168,234}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat24-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{272,282}}</string>
                <key>offset</key>
                <string>{-44,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,40},{272,282}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat24-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,715},{118,174}}</string>
                <key>offset</key>
                <string>{-149,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,124},{118,174}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat24_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>240.png</string>
            <key>size</key>
            <string>{306,890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:952a25b9674581a60609d2299f200bb0:93888533cbc86d68c40ddbdbeb71e9dd:8bc4ec20dd662634f56754d65c80c3ab$</string>
            <key>textureFileName</key>
            <string>240.png</string>
        </dict>
    </dict>
</plist>
