<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat31-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{352,204}}</string>
                <key>offset</key>
                <string>{-70,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,120},{352,204}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat31-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,589},{470,114}}</string>
                <key>offset</key>
                <string>{-5,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,277},{470,114}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat31-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{288,274}}</string>
                <key>offset</key>
                <string>{82,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,52},{288,274}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat31-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{218,310}}</string>
                <key>offset</key>
                <string>{-28,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,10},{218,310}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat31-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,355},{210,286}}</string>
                <key>offset</key>
                <string>{-121,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,29},{210,286}}</string>
                <key>sourceSize</key>
                <string>{580,410}</string>
            </dict>
            <key>boat31_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,567},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>310.png</string>
            <key>size</key>
            <string>{508,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6387150842b2989601eb2770a06cb3c8:efbb287991c17fe4999f0104a7b4fb29:b2212284140a84cee570a21f1ae40995$</string>
            <key>textureFileName</key>
            <string>310.png</string>
        </dict>
    </dict>
</plist>
