<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat29-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1},{360,132}}</string>
                <key>offset</key>
                <string>{-84,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,215},{360,132}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat29-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{548,132}}</string>
                <key>offset</key>
                <string>{1,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,256},{548,132}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat29-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,551},{286,302}}</string>
                <key>offset</key>
                <string>{132,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,47},{286,302}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat29-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,363},{156,294}}</string>
                <key>offset</key>
                <string>{-71,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,47},{156,294}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat29-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,521},{142,276}}</string>
                <key>offset</key>
                <string>{-140,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,58},{142,276}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat29-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{170,314}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,32},{170,314}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat29_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,317},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>290.png</string>
            <key>size</key>
            <string>{449,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22bc96046db39e754b79a3649d0f2d36:9b5dbdb65909882c4e7a210003462e8c:338a3ace64fe2901a2033f3ab18ae9ae$</string>
            <key>textureFileName</key>
            <string>290.png</string>
        </dict>
    </dict>
</plist>
