<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat05_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,325},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>boat5-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,325},{396,258}}</string>
                <key>offset</key>
                <string>{-35,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{396,258}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat5-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{462,322}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,44},{462,322}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>50.png</string>
            <key>size</key>
            <string>{464,584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c3fc6f66351e28fb99192eb73dfad7d:647e5c065338a60ad01aa3d3ddb86ed8:14ec5a43d8da552336c238fb828c63d7$</string>
            <key>textureFileName</key>
            <string>50.png</string>
        </dict>
    </dict>
</plist>
