<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat12-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,561},{94,58}}</string>
                <key>offset</key>
                <string>{172,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,210},{94,58}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat12-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{484,334}}</string>
                <key>offset</key>
                <string>{-23,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,63},{484,334}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat12-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{474,322}}</string>
                <key>offset</key>
                <string>{-29,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,75},{474,322}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat12-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,337},{186,222}}</string>
                <key>offset</key>
                <string>{24,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,24},{186,222}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat12-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,561},{34,44}}</string>
                <key>offset</key>
                <string>{-134,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,152},{34,44}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat12_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>120.png</string>
            <key>size</key>
            <string>{512,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:286107a79b208fd88f59693e37001c92:33f65a7cd0d5ab31e8ac5035db8b1e79:7ca71900e5de800eaf61e838af56ee71$</string>
            <key>textureFileName</key>
            <string>120.png</string>
        </dict>
    </dict>
</plist>
