<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat07_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,415},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>boat7-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{511,1},{416,186}}</string>
                <key>offset</key>
                <string>{-31,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,131},{416,186}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat7-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{508,182}}</string>
                <key>offset</key>
                <string>{3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,202},{508,182}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat7-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{332,294}}</string>
                <key>offset</key>
                <string>{91,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,59},{332,294}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat7-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,189},{286,282}}</string>
                <key>offset</key>
                <string>{-56,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,29},{286,282}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat7-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,189},{222,224}}</string>
                <key>offset</key>
                <string>{-134,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{222,224}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>70.png</string>
            <key>size</key>
            <string>{928,480}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72d7c9c2bf18126f738b9374b639115c:1b8bc76d029e71e41ff61b2aea4a01ba:e5db975e242848154cd130256039cb31$</string>
            <key>textureFileName</key>
            <string>70.png</string>
        </dict>
    </dict>
</plist>
