<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat20-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,209},{348,254}}</string>
                <key>offset</key>
                <string>{-20,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,84},{348,254}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat20-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{548,206}}</string>
                <key>offset</key>
                <string>{-1,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,188},{548,206}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat20-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1},{254,290}}</string>
                <key>offset</key>
                <string>{110,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,47},{254,290}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat20-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,293},{192,338}}</string>
                <key>offset</key>
                <string>{-16,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,17},{192,338}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat20-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,209},{148,252}}</string>
                <key>offset</key>
                <string>{-123,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,76},{148,252}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat20_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,465},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>200.png</string>
            <key>size</key>
            <string>{840,487}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03241fcf6a45d5f1109049ae781cfe8:5a27ed22fb3e1af2be26bc726e49074a:c7973471ebd1420445963c4b0df7f5f0$</string>
            <key>textureFileName</key>
            <string>200.png</string>
        </dict>
    </dict>
</plist>
