<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat22-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{430,280}}</string>
                <key>offset</key>
                <string>{-54,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,66},{430,280}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{510,404}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{510,404}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,407},{72,150}}</string>
                <key>offset</key>
                <string>{225,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,166},{72,150}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,689},{98,154}}</string>
                <key>offset</key>
                <string>{156,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,158},{98,154}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,853},{94,208}}</string>
                <key>offset</key>
                <string>{154,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,119},{94,208}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,689},{132,258}}</string>
                <key>offset</key>
                <string>{55,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,18},{132,258}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{162,266}}</string>
                <key>offset</key>
                <string>{-56,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,4},{162,266}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,559},{60,110}}</string>
                <key>offset</key>
                <string>{-232,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,165},{60,110}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat22_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,559},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>220.png</string>
            <key>size</key>
            <string>{512,948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de128e82e52653f0273a6f5d735ef119:f35452bb2a674242d9ce2cdad69a99b8:0e7da6acc5733075c7ab965e6a973ec7$</string>
            <key>textureFileName</key>
            <string>220.png</string>
        </dict>
    </dict>
</plist>
