<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoRefreshToken</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>全民大航海</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon29.png</string>
		<string>icon57.png</string>
		<string>icon58.png</string>
		<string>icon72.png</string>
		<string>icon114.png</string>
		<string>icon120.png</string>
		<string>icon144.png</string>
		<string>icon152.png</string>
		<string>icon167.png</string>
		<string>icon180.png</string>
		<string>icon76.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wxa228fbbb06c2cb79</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencentopenapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1104681464</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQ</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41D819F8</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>QQLaunch</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencentlaunch1104681464</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>dhh</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.7.7</string>
	<key>CHANNEL_DENGTA</key>
	<string>1001</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqq</string>
		<string>mqqapi</string>
		<string>wtloginmqq2</string>
		<string>mqqopensdkapiV4</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqwpa</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqgamebindinggroup</string>
		<string>mqqopensdkfriend</string>
		<string>mqzone</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MSDKKey</key>
	<string>4f88b91226cad529eb2d8c914303127c</string>
	<key>MSDK_OfferId</key>
	<string>1450008715</string>
	<key>MSDK_PUSH_SWITCH</key>
	<true/>
	<key>MSDK_PUSH_URL</key>
	<string>http://push.msdk.qq.com</string>
	<key>MSDK_REAL_NAME_AUTH_SWITCH</key>
	<integer>1</integer>
	<key>MSDK_URL</key>
	<string>http://msdk.qq.com</string>
	<key>MSDK_Webview_Landscape_NavBar_Hideable</key>
	<false/>
	<key>MSDK_Webview_Portrait_NavBar_Hideable</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>需要使用到您的相机</string>
	<key>NSContactsUsageDescription</key>
	<string>需要使用通讯录权限</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>需要定位</string>
	<key>NSLocationUsageDescription</key>
	<string>需要定位</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>需要定位</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要使用到您的麦克风</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要使用到您的相册</string>
	<key>NeedNotice</key>
	<true/>
	<key>NoticeTime</key>
	<integer>600</integer>
	<key>QQAppID</key>
	<string>1104681464</string>
	<key>QQAppKey	</key>
	<string>wD6ZoLLy1bkPR0E5</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>opengles-1</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>WXAppID</key>
	<string>wxa228fbbb06c2cb79</string>
	<key>WXAppKey</key>
	<string>983d07f66a6271765480f659887c33c7</string>
</dict>
</plist>
