<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlertView</key>
	<dict>
		<key>content</key>
		<dict>
			<key>webView</key>
			<dict>
				<key>backgroudColor</key>
				<string>#ffffff</string>
				<key>backgroudColorAlpha</key>
				<integer>0</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>verticalViewHeight</key>
				<integer>380</integer>
				<key>verticalViewWidth</key>
				<integer>263</integer>
				<key>horizontalViewHeight</key>
				<integer>185</integer>
				<key>horizontalViewWidth</key>
				<integer>500</integer>
				<key>viewTop</key>
				<integer>40</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
			<key>contentTitle</key>
			<dict>
				<key>font</key>
				<dict>
					<key>font</key>
					<integer>18</integer>
					<key>fontColor</key>
					<string>#328fff</string>
					<key>fontShadow</key>
					<integer>0</integer>
					<key>fontShadowColor</key>
					<string></string>
					<key>labelWidth</key>
					<integer>300</integer>
					<key>labelLeft</key>
					<integer>0</integer>
					<key>labelTop</key>
					<integer>8</integer>
					<key>labelHeight</key>
					<integer>40</integer>
					<key>textAlign</key>
					<integer>1</integer>
				</dict>
			</dict>
			<key>contentText</key>
			<dict>
				<key>font</key>
				<dict>
					<key>font</key>
					<integer>18</integer>
					<key>fontColor</key>
					<string>#888888</string>
					<key>fontShadow</key>
					<integer>0</integer>
					<key>fontShadowColor</key>
					<string></string>
					<key>labelWidth</key>
					<integer>260</integer>
					<key>labelLeft</key>
					<integer>20</integer>
					<key>labelTop</key>
					<integer>48</integer>
					<key>labelHeight</key>
					<integer>100</integer>
					<key>New item</key>
					<string></string>
					<key>textAlign</key>
					<integer>0</integer>
				</dict>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroudColor</key>
				<string>#ffffff</string>
				<key>backgroudColorAlpha</key>
				<integer>1</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>verticalViewHeight</key>
				<integer>388</integer>
				<key>verticalViewWidth</key>
				<integer>263</integer>
				<key>horizontalViewHeight</key>
				<integer>195</integer>
				<key>horizontalViewWidth</key>
				<integer>500</integer>
				<key>viewTop</key>
				<integer>40</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>title</key>
		<dict>
			<key>text</key>
			<string>系统公告</string>
			<key>font</key>
			<dict>
				<key>font</key>
				<integer>14</integer>
				<key>fontColor</key>
				<string>#666666</string>
				<key>fontShadow</key>
				<integer>0</integer>
				<key>fontShadowColor</key>
				<string></string>
				<key>labelWidth</key>
				<integer>220</integer>
				<key>labelLeft</key>
				<integer>36</integer>
				<key>labelTop</key>
				<integer>13</integer>
				<key>labelHeight</key>
				<integer>14</integer>
				<key>textAlign</key>
				<integer>0</integer>
			</dict>
			<key>icon</key>
			<dict>
				<key>iconPath</key>
				<string>Announcement_icon.png</string>
				<key>backgroudColor</key>
				<string></string>
				<key>backgroudColorAlpha</key>
				<integer>0</integer>
				<key>viewHeight</key>
				<integer>14</integer>
				<key>viewWidth</key>
				<integer>12</integer>
				<key>viewTop</key>
				<integer>13</integer>
				<key>viewLeft</key>
				<integer>16</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroudColor</key>
				<string>#f9f9f9</string>
				<key>backgroudColorAlpha</key>
				<integer>1</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>verticalViewHeight</key>
				<integer>40</integer>
				<key>verticalViewWidth</key>
				<integer>263</integer>
				<key>horizontalViewHeight</key>
				<integer>40</integer>
				<key>horizontalViewWidth</key>
				<integer>500</integer>
				<key>viewTop</key>
				<integer>0</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>bottom</key>
		<dict>
			<key>font</key>
			<dict>
				<key>font</key>
				<integer>24</integer>
				<key>fontColor</key>
				<string>#328fff</string>
				<key>fontShadow</key>
				<integer>0</integer>
				<key>fontShadowColor</key>
				<string></string>
				<key>labelWidth</key>
				<integer>0</integer>
				<key>labelLeft</key>
				<integer>0</integer>
				<key>labelTop</key>
				<integer>0</integer>
				<key>labelHeight</key>
				<integer>0</integer>
				<key>textAlign</key>
				<integer>0</integer>
			</dict>
			<key>view</key>
			<dict>
				<key>backgroudColor</key>
				<string>#ffffff</string>
				<key>backgroudColorAlpha</key>
				<integer>1</integer>
				<key>backgroundLeftImage</key>
				<string></string>
				<key>backgroundMidImage</key>
				<string></string>
				<key>backgroundRightImage</key>
				<string></string>
				<key>verticalViewHeight</key>
				<integer>50</integer>
				<key>verticalViewWidth</key>
				<integer>263</integer>
				<key>horizontalViewHeight</key>
				<integer>50</integer>
				<key>horizontalViewWidth</key>
				<integer>500</integer>
				<key>viewLeft</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>confirmButton</key>
		<dict>
			<key>selBackgroundColor</key>
			<string>#f9f9f9</string>
			<key>buttonTitleFontSize</key>
			<integer>14</integer>
			<key>titleColor</key>
			<string>#328fff</string>
			<key>backgroudColor</key>
			<string></string>
			<key>selBackgroundColorAlpha</key>
			<integer>1</integer>
			<key>backgroudColorAlpha</key>
			<integer>0</integer>
			<key>btnImage</key>
			<string></string>
			<key>selectedBtnImage</key>
			<string></string>
			<key>buttonLeft</key>
			<integer>0</integer>
			<key>buttonWidth</key>
			<integer>300</integer>
			<key>buttonHeight</key>
			<integer>50</integer>
			<key>buttonTitle</key>
			<string>详情</string>
		</dict>
		<key>cancelButton</key>
		<dict>
			<key>selBackgroundColor</key>
			<string>#f9f9f9</string>
			<key>buttonTitleFontSize</key>
			<integer>14</integer>
			<key>titleColor</key>
			<string>#328fff</string>
			<key>backgroudColor</key>
			<string></string>
			<key>selBackgroundColorAlpha</key>
			<integer>1</integer>
			<key>backgroudColorAlpha</key>
			<integer>0</integer>
			<key>btnImage</key>
			<string></string>
			<key>selectedBtnImage</key>
			<string></string>
			<key>buttonLeft</key>
			<integer>0</integer>
			<key>buttonWidth</key>
			<integer>300</integer>
			<key>buttonHeight</key>
			<integer>50</integer>
			<key>buttonTitle</key>
			<string>关闭</string>
		</dict>
	</dict>
	<key>BannerView</key>
	<dict>
		<key>icon</key>
		<dict>
			<key>iconPath</key>
			<string>Announcement_icon.png</string>
			<key>backgroudColor</key>
			<string>#000000</string>
			<key>backgroudColorAlpha</key>
			<integer>1</integer>
			<key>viewHeight</key>
			<integer>23</integer>
			<key>viewWidth</key>
			<integer>20</integer>
			<key>viewTop</key>
			<integer>1</integer>
			<key>viewLeft</key>
			<integer>0</integer>
		</dict>
		<key>font</key>
		<dict>
			<key>font</key>
			<integer>18</integer>
			<key>fontShadow</key>
			<integer>0</integer>
			<key>fontColor</key>
			<string>#b4b4b4</string>
			<key>fontShadowColor</key>
			<string></string>
			<key>labelWidth</key>
			<integer>0</integer>
			<key>labelLeft</key>
			<integer>10</integer>
			<key>labelTop</key>
			<integer>2</integer>
			<key>labelHeight</key>
			<integer>0</integer>
			<key>textAlign</key>
			<integer>0</integer>
		</dict>
		<key>view</key>
		<dict>
			<key>backgroudColor</key>
			<string>#000000</string>
			<key>backgroudColorAlpha</key>
			<real>0.5</real>
			<key>backgroundLeftImage</key>
			<string></string>
			<key>backgroundMidImage</key>
			<string></string>
			<key>backgroundRightImage</key>
			<string></string>
			<key>viewHeight</key>
			<integer>30</integer>
		</dict>
	</dict>
</dict>
</plist>
