<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat40-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,115},{392,48}}</string>
                <key>offset</key>
                <string>{-28,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,301},{392,48}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat40-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1},{502,112}}</string>
                <key>offset</key>
                <string>{19,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,277},{502,112}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat40-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1},{330,246}}</string>
                <key>offset</key>
                <string>{86,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,97},{330,246}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat40-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{250,324}}</string>
                <key>offset</key>
                <string>{-66,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,19},{250,324}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat40-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,254}}</string>
                <key>offset</key>
                <string>{-170,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,73},{200,254}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat40-center.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,165},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>400.png</string>
            <key>size</key>
            <string>{1364,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bce6f0de9f1f8dfa1c86a760e01c6ca:3a65afcb9cc32f81de1f46be33c74031:89fb34bd869ed6b51fe882af4a432b04$</string>
            <key>textureFileName</key>
            <string>400.png</string>
        </dict>
    </dict>
</plist>
