<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat15-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1371,1},{460,124}}</string>
                <key>offset</key>
                <string>{-6,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,214},{460,124}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat15-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1},{454,156}}</string>
                <key>offset</key>
                <string>{-2,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,232},{454,156}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat15-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1},{102,184}}</string>
                <key>offset</key>
                <string>{161,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,131},{102,184}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat15-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{210,252}}</string>
                <key>offset</key>
                <string>{145,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,71},{210,252}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat15-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{158,328}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,18},{158,328}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat15-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,1},{154,224}}</string>
                <key>offset</key>
                <string>{-120,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,65},{154,224}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat15-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,159},{66,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,51}}</string>
                <key>sourceSize</key>
                <string>{66,51}</string>
            </dict>
            <key>boat15_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,187},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>150.png</string>
            <key>size</key>
            <string>{1832,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2267f124324e822fff576aa519fceb2:c023a0c05723ce59a3bcbef1a2daa724:772189388ebb8b14220d5c58b6cffc6a$</string>
            <key>textureFileName</key>
            <string>150.png</string>
        </dict>
    </dict>
</plist>
