<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat39-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{482,224}}</string>
                <key>offset</key>
                <string>{30,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,154},{482,224}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat39-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,227},{160,176}}</string>
                <key>offset</key>
                <string>{134,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,121},{160,176}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat39-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{178,242}}</string>
                <key>offset</key>
                <string>{-38,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,28},{178,242}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat39-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,227},{150,148}}</string>
                <key>offset</key>
                <string>{-207,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,102},{150,148}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat39-center.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,405},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>390.png</string>
            <key>size</key>
            <string>{492,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d90a9a63999bfe5c38a21d7bc6c181:5e6dab11b97ea7477f3f061736dc5ab4:cda87a738112e09dd1b973ca41de101b$</string>
            <key>textureFileName</key>
            <string>390.png</string>
        </dict>
    </dict>
</plist>
