<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat28-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{342,86}}</string>
                <key>offset</key>
                <string>{-30,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,224},{342,86}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat28-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{478,144}}</string>
                <key>offset</key>
                <string>{18,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,235},{478,144}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat28-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{256,278}}</string>
                <key>offset</key>
                <string>{98,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,32},{256,278}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat28-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{266,270}}</string>
                <key>offset</key>
                <string>{-78,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,31},{266,270}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat28_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,259},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>280.png</string>
            <key>size</key>
            <string>{548,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0016dd32e9c7ba2f646c7842f095fbf:b230f737c36a95e9f58f6afefd3b718b:d0edc0620a56d5df56ec0fd0b3a3eb86$</string>
            <key>textureFileName</key>
            <string>280.png</string>
        </dict>
    </dict>
</plist>
