<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat13-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{338,338}}</string>
                <key>offset</key>
                <string>{-38,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,21},{338,338}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat13-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,364}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,24},{500,364}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat13-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{294,274}}</string>
                <key>offset</key>
                <string>{88,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,51},{294,274}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat13-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1119},{268,294}}</string>
                <key>offset</key>
                <string>{-37,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,22},{268,294}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat13-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1389},{204,220}}</string>
                <key>offset</key>
                <string>{-145,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,72},{204,220}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat13_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,503},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>130.png</string>
            <key>size</key>
            <string>{366,1594}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef51bf12c28fe1c41fb103e3bcc89f0:8d0da19c552bb1642cef70032e51c90e:0a412f7f36d898858c00daa9b06890d8$</string>
            <key>textureFileName</key>
            <string>130.png</string>
        </dict>
    </dict>
</plist>
