<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat34-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1},{452,114}}</string>
                <key>offset</key>
                <string>{-49,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,217},{452,114}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat34-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{550,128}}</string>
                <key>offset</key>
                <string>{0,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,267},{550,128}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat34-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{548,300}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{548,300}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat34-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,301},{120,294}}</string>
                <key>offset</key>
                <string>{-112,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,32},{120,294}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat34-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,117},{150,278}}</string>
                <key>offset</key>
                <string>{-184,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,72},{150,278}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat34-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,117},{182,290}}</string>
                <key>offset</key>
                <string>{3,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,23},{182,290}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat34_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,397},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>340.png</string>
            <key>size</key>
            <string>{1004,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05cf8bfc72e471b6733f0a55cee2625d:e0f38c66e69c50b979031bd13e8c81c1:50515485330c01cb2e474b1ca5f29533$</string>
            <key>textureFileName</key>
            <string>340.png</string>
        </dict>
    </dict>
</plist>
