<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat14-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{448,172}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,154},{448,172}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat14-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{474,180}}</string>
                <key>offset</key>
                <string>{9,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,213},{474,180}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat14-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,699},{290,226}}</string>
                <key>offset</key>
                <string>{103,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,100},{290,226}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat14-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,357},{404,340}}</string>
                <key>offset</key>
                <string>{-30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,17},{404,340}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat14-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,699},{192,196}}</string>
                <key>offset</key>
                <string>{-80,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,111},{192,196}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat14_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,183},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>140.png</string>
            <key>size</key>
            <string>{486,926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e13875d2e057e183dff3fa2880cf644:ea2fa0f31649f35c81209ab3acb8c56b:918f8268134fb60c18575a1b7810b04d$</string>
            <key>textureFileName</key>
            <string>140.png</string>
        </dict>
    </dict>
</plist>
