<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat10-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,157},{316,176}}</string>
                <key>offset</key>
                <string>{-58,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,138},{316,176}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat10-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{434,154}}</string>
                <key>offset</key>
                <string>{1,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,234},{434,154}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat10-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{298,308}}</string>
                <key>offset</key>
                <string>{47,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,24},{298,308}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat10-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,1},{214,250}}</string>
                <key>offset</key>
                <string>{-94,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,74},{214,250}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat10_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,311},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100.png</string>
            <key>size</key>
            <string>{952,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7735f3e6f8cb4b1cc140e3eccf96ef77:69bcce244f89d95103e2291064c6ffb6:80e98705fc1a160ba0639b9f562094c0$</string>
            <key>textureFileName</key>
            <string>100.png</string>
        </dict>
    </dict>
</plist>
