<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat02_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,329},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>boat2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{380,198}}</string>
                <key>offset</key>
                <string>{-50,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,167},{380,198}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{430,326}}</string>
                <key>offset</key>
                <string>{-25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{430,326}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>20.png</string>
            <key>size</key>
            <string>{432,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0bdb89fc5fc92720bd8802cd0d2fb52:ffb27efd15c00ca31cd31a82dad3a3b2:d8bb35a7ab4882b431a5a8b2dd823bba$</string>
            <key>textureFileName</key>
            <string>20.png</string>
        </dict>
    </dict>
</plist>
