<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat08_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,539},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>boat8-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{340,300}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,49},{340,300}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat8-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1},{328,128}}</string>
                <key>offset</key>
                <string>{-3,-122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,263},{328,128}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat8-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,331},{136,206}}</string>
                <key>offset</key>
                <string>{104,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,142},{136,206}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat8-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{218,342}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,19},{218,342}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat8-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,523},{112,188}}</string>
                <key>offset</key>
                <string>{-116,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,139},{112,188}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>80.png</string>
            <key>size</key>
            <string>{480,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d492ff47063a006349f458a6e015e3e:895bfb23abf90afcc39b3580874ddb79:7d0c6a9cc0da0349a44835bc2870161a$</string>
            <key>textureFileName</key>
            <string>80.png</string>
        </dict>
    </dict>
</plist>
