<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat18-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{372,196}}</string>
                <key>offset</key>
                <string>{-84,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,136},{372,196}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat18-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{550,218}}</string>
                <key>offset</key>
                <string>{-6,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,192},{550,218}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat18-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1},{256,274}}</string>
                <key>offset</key>
                <string>{105,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,69},{256,274}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat18-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,259},{214,306}}</string>
                <key>offset</key>
                <string>{-28,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,23},{214,306}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat18-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,221},{166,238}}</string>
                <key>offset</key>
                <string>{-170,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,50},{166,238}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat18_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>180.png</string>
            <key>size</key>
            <string>{850,475}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ef2fdee5df4e7c39374311c27f4054f:300e039fd1d2eb877f0b020399006df2:7decda7b69a209213b9a7ea5afde59d8$</string>
            <key>textureFileName</key>
            <string>180.png</string>
        </dict>
    </dict>
</plist>
