<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat16-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,265},{430,220}}</string>
                <key>offset</key>
                <string>{-54,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,126},{430,220}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat16-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{544,168}}</string>
                <key>offset</key>
                <string>{3,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,228},{544,168}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat16-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1},{352,262}}</string>
                <key>offset</key>
                <string>{88,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,64},{352,262}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat16-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{296,316}}</string>
                <key>offset</key>
                <string>{-10,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,12},{296,316}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat16-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,171},{208,244}}</string>
                <key>offset</key>
                <string>{-172,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,64},{208,244}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat16_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>160.png</string>
            <key>size</key>
            <string>{940,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:047491e0a66553b3c77831645909e848:c522ac883022d74141bbfbdc78008334:6414d7158de5f4d51d12cc11f077ec71$</string>
            <key>textureFileName</key>
            <string>160.png</string>
        </dict>
    </dict>
</plist>
