<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat35-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{316,214}}</string>
                <key>offset</key>
                <string>{-52,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,125},{316,214}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat35-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1},{502,120}}</string>
                <key>offset</key>
                <string>{1,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,264},{502,120}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat35-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,123},{290,262}}</string>
                <key>offset</key>
                <string>{82,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,62},{290,262}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat35-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,123},{250,294}}</string>
                <key>offset</key>
                <string>{-113,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,26},{250,294}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat35_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>350.png</string>
            <key>size</key>
            <string>{804,386}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a20af5493d666c9f6816a8f0bdcd245c:219b2bb9de3d8cc1fdf97528f656b8d4:1e257fbd2bec168813a155634392e3fc$</string>
            <key>textureFileName</key>
            <string>350.png</string>
        </dict>
    </dict>
</plist>
