<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat30-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,235},{192,36}}</string>
                <key>offset</key>
                <string>{-45,-126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,313},{192,36}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat30-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{470,140}}</string>
                <key>offset</key>
                <string>{16,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,255},{470,140}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat30-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,235},{284,262}}</string>
                <key>offset</key>
                <string>{73,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,81},{284,262}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat30-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{232,328}}</string>
                <key>offset</key>
                <string>{-92,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,14},{232,328}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat30-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1},{118,192}}</string>
                <key>offset</key>
                <string>{-169,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,100},{118,192}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat30_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,473},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>300.png</string>
            <key>size</key>
            <string>{592,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd2d99c4f5a85d88b19602c7275f2495:531ab3e4a1ac2bc9adad9f5b97f8a853:fc891e5ec4e3bab4d7b37232e0ce3caa$</string>
            <key>textureFileName</key>
            <string>300.png</string>
        </dict>
    </dict>
</plist>
