<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baot11_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,1},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>boat11-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{438,70}}</string>
                <key>offset</key>
                <string>{16,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,267},{438,70}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat11-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{458,254}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,122},{458,254}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat11-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{386,178}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,145},{386,178}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat11-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,329},{210,300}}</string>
                <key>offset</key>
                <string>{48,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,26},{210,300}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat11-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,541},{224,196}}</string>
                <key>offset</key>
                <string>{-82,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,121},{224,196}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>110.png</string>
            <key>size</key>
            <string>{482,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd88b15646eb1e551e942f68e501f5ce:89cd801abedc4d766b0b7d1a11d96e8d:7d65c36f8f344970f451b912bd12a291$</string>
            <key>textureFileName</key>
            <string>110.png</string>
        </dict>
    </dict>
</plist>
