<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat21-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,303},{406,330}}</string>
                <key>offset</key>
                <string>{-42,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,13},{406,330}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat21-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{536,386}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{536,386}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat21-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,1},{468,300}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,68},{468,300}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat21-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{244,306}}</string>
                <key>offset</key>
                <string>{-33,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,13},{244,306}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat21-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,389},{180,230}}</string>
                <key>offset</key>
                <string>{-165,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,72},{180,230}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat21_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,303},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>210.png</string>
            <key>size</key>
            <string>{1008,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596dc25c93dfac3d6bd6cc7a887bebfd:65fe89b62b7bfbeb50101df5666a8cb7:9b9fba8eef123a16887b5b32f2f6df6e$</string>
            <key>textureFileName</key>
            <string>210.png</string>
        </dict>
    </dict>
</plist>
