<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>account_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{216,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,96}}</string>
                <key>sourceSize</key>
                <string>{216,96}</string>
            </dict>
            <key>account_btn_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>account_btn_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>account_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,53},{50,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,55}}</string>
                <key>sourceSize</key>
                <string>{50,55}</string>
            </dict>
            <key>account_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>account_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,1},{59,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>account_ui.pvr.ccz</string>
            <key>size</key>
            <string>{479,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51a3f07d60615d6cba1babfb72ea3f9f:02a6235e23a8cdf0efefc12e2e59b974:6288f2ccacbf36251b7c0455697513dc$</string>
            <key>textureFileName</key>
            <string>account_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
