<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_award_armor.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1792},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1829},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>activity_award_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1760},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_cannon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1728},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_cannon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1819},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1696},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_contribution.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1664},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1696},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_drawing.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,1664},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_essence.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1787},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1755},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_feather.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1480},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_hammer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1448},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_hammer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1416},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_honour.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1384},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_keepsake_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1282},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_letter.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1250},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1218},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_sailor.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1186},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1829},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_skillbook_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1632},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_skillbook_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1829},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_award_weapon.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1632},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>activity_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1641},{168,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,67}}</string>
                <key>sourceSize</key>
                <string>{168,67}</string>
            </dict>
            <key>activity_figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,602},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>activity_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,419},{328,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,268}}</string>
                <key>sourceSize</key>
                <string>{328,268}</string>
            </dict>
            <key>activity_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1562},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1615},{66,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1342},{72,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1264},{78,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,1416},{70,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{70,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1031},{72,80}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1755},{72,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{72,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1488},{74,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{74,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,1811},{78,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,17},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1739},{80,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1683},{78,70}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{78,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1186},{78,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1533},{72,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{72,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_icon_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1105},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>activity_legend_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{416,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,368}}</string>
                <key>sourceSize</key>
                <string>{416,368}</string>
            </dict>
            <key>activity_name_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1641},{218,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,46}}</string>
                <key>sourceSize</key>
                <string>{218,46}</string>
            </dict>
            <key>activity_name_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1399},{132,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{132,32}}</string>
                <key>sourceSize</key>
                <string>{136,32}</string>
            </dict>
            <key>activity_paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,689},{272,292}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{272,292}}</string>
                <key>sourceSize</key>
                <string>{304,324}</string>
            </dict>
            <key>activity_pic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1185},{242,212}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,76},{242,212}}</string>
                <key>sourceSize</key>
                <string>{304,324}</string>
            </dict>
            <key>activity_pic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1399},{212,240}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,37},{212,240}}</string>
                <key>sourceSize</key>
                <string>{304,324}</string>
            </dict>
            <key>activity_pic_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,983},{260,200}}</string>
                <key>offset</key>
                <string>{-4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,83},{260,200}}</string>
                <key>sourceSize</key>
                <string>{304,324}</string>
            </dict>
            <key>activity_pic_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,689},{40,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,170}}</string>
                <key>sourceSize</key>
                <string>{40,170}</string>
            </dict>
            <key>activity_pic_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,861},{40,168}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,168}}</string>
                <key>sourceSize</key>
                <string>{40,170}</string>
            </dict>
            <key>activity_popup.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1342},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>activity_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,689},{337,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,52}}</string>
                <key>sourceSize</key>
                <string>{337,52}</string>
            </dict>
            <key>activity_unlock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1641},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>activity_week_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1811},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>activity_weekend_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,419},{181,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{181,33}}</string>
                <key>sourceSize</key>
                <string>{183,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_ui.pvr.ccz</string>
            <key>size</key>
            <string>{370,1862}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8af4e50385899c476543c77ff13a504:d7cf641bb500fbdae3acc4d9f1105675:f11454791566757f8de693ac6e71b25e$</string>
            <key>textureFileName</key>
            <string>activity_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
