<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>activity_51_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,1},{158,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,127}}</string>
                <key>sourceSize</key>
                <string>{158,127}</string>
            </dict>
            <key>activity_51_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{174,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,252}}</string>
                <key>sourceSize</key>
                <string>{174,252}</string>
            </dict>
            <key>activity_51_seaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,130},{66,76}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>activity_51_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{212,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,256}}</string>
                <key>sourceSize</key>
                <string>{212,256}</string>
            </dict>
            <key>activity_dw_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,177},{351,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,66}}</string>
                <key>sourceSize</key>
                <string>{351,66}</string>
            </dict>
            <key>activity_dw_zongzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,208},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>activity_51.pvr.ccz</string>
            <key>size</key>
            <string>{679,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04b3fa3b301aaa0cca231bdcf9def6a8:15761c13e08d6513fec03ce8e3d1cbd0:51508be02212f23231d2938fa8160144$</string>
            <key>textureFileName</key>
            <string>activity_51.pvr.ccz</string>
        </dict>
    </dict>
</plist>
