<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{478,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,70}}</string>
                <key>sourceSize</key>
                <string>{478,70}</string>
            </dict>
            <key>arena_black_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,87},{242,245}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,245}}</string>
                <key>sourceSize</key>
                <string>{250,249}</string>
            </dict>
            <key>arena_box_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,270},{114,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,106}}</string>
                <key>sourceSize</key>
                <string>{114,106}</string>
            </dict>
            <key>arena_chess.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,391},{46,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,29}}</string>
                <key>sourceSize</key>
                <string>{46,29}</string>
            </dict>
            <key>arena_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,321},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>arena_frame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,362},{424,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,82}}</string>
                <key>sourceSize</key>
                <string>{424,82}</string>
            </dict>
            <key>arena_frame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1},{418,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,84}}</string>
                <key>sourceSize</key>
                <string>{418,84}</string>
            </dict>
            <key>arena_icon_defend.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,406},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>arena_icon_zoom.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,290},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>arena_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,270},{60,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{60,49}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>arena_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{515,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,287}}</string>
                <key>sourceSize</key>
                <string>{515,287}</string>
            </dict>
            <key>arena_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1},{289,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{289,2}}</string>
                <key>sourceSize</key>
                <string>{289,2}</string>
            </dict>
            <key>arena_my_head_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,87},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>arena_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,331},{247,113}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{247,113}}</string>
                <key>sourceSize</key>
                <string>{249,115}</string>
            </dict>
            <key>arena_reward_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,378},{58,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>arena_reward_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,331},{58,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{58,28}}</string>
                <key>sourceSize</key>
                <string>{60,28}</string>
            </dict>
            <key>arena_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,362},{79,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,46}}</string>
                <key>sourceSize</key>
                <string>{79,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena_ui.pvr.ccz</string>
            <key>size</key>
            <string>{951,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55badcdae5db2eac2c7436da56b7d103:aeb143bb697dd700d0f1ab3da1b2f5ba:fa8fa82e804a8ae1c88a68629b39e116$</string>
            <key>textureFileName</key>
            <string>arena_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
