<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arena_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1},{120,140}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{120,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,1},{120,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{120,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1},{120,140}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,5},{120,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{144,140}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{144,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1},{134,148}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{134,148}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_i.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,1},{36,64}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,40},{36,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_ii.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,67},{54,64}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{54,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_iii.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1},{70,64}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,38},{70,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_iv.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,1},{68,64}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{68,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,67},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{64,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>arena_rank_vi.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,73},{68,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,41},{68,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena_rank.pvr.ccz</string>
            <key>size</key>
            <string>{984,152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f70670cad05c3766f0cbc8ffb247106:a879e1eab692bf377a036d9e27fa8bcc:8ab84ce6c05a9141715e521150b79627$</string>
            <key>textureFileName</key>
            <string>arena_rank.pvr.ccz</string>
        </dict>
    </dict>
</plist>
