<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>award_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,309},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
            <key>award_checkin_day.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,309},{60,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,32}}</string>
                <key>sourceSize</key>
                <string>{60,32}</string>
            </dict>
            <key>award_checkin_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,309},{509,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{509,294}}</string>
                <key>sourceSize</key>
                <string>{509,294}</string>
            </dict>
            <key>award_fund_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1047},{40,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,120}}</string>
                <key>sourceSize</key>
                <string>{40,120}</string>
            </dict>
            <key>award_fund_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,717},{248,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,192}}</string>
                <key>sourceSize</key>
                <string>{248,192}</string>
            </dict>
            <key>award_fund_diamonds.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,855},{104,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,82}}</string>
                <key>sourceSize</key>
                <string>{104,82}</string>
            </dict>
            <key>award_fund_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,645},{148,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,208}}</string>
                <key>sourceSize</key>
                <string>{148,208}</string>
            </dict>
            <key>award_gift_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1047},{122,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,134}}</string>
                <key>sourceSize</key>
                <string>{126,136}</string>
            </dict>
            <key>award_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,343},{348,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,372}}</string>
                <key>sourceSize</key>
                <string>{348,372}</string>
            </dict>
            <key>award_girl_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1},{330,340}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{330,340}}</string>
                <key>sourceSize</key>
                <string>{334,340}</string>
            </dict>
            <key>award_recharge_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,309},{508,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,30}}</string>
                <key>sourceSize</key>
                <string>{508,30}</string>
            </dict>
            <key>award_recharge_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1165},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>award_recharge_bar_figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,717},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>award_recharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{662,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{662,306}}</string>
                <key>sourceSize</key>
                <string>{662,306}</string>
            </dict>
            <key>award_recharge_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,717},{172,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,52}}</string>
                <key>sourceSize</key>
                <string>{172,52}</string>
            </dict>
            <key>award_recharge_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,911},{154,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,234}}</string>
                <key>sourceSize</key>
                <string>{154,234}</string>
            </dict>
            <key>award_recharge_card_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,911},{170,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{170,252}}</string>
                <key>sourceSize</key>
                <string>{172,252}</string>
            </dict>
            <key>award_recharge_circle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1025},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>award_recharge_circle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,1111},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,82}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>award_recharge_circle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,939},{78,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{80,84}</string>
            </dict>
            <key>award_recharge_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,820},{388,364}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{388,364}}</string>
                <key>sourceSize</key>
                <string>{390,404}</string>
            </dict>
            <key>award_vip_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{736,164}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{736,164}}</string>
                <key>sourceSize</key>
                <string>{746,164}</string>
            </dict>
            <key>award_vip_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,343},{146,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,300}}</string>
                <key>sourceSize</key>
                <string>{146,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>award_ui.pvr.ccz</string>
            <key>size</key>
            <string>{996,1209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dd4a618665af0000c030dcad959c8ce:10e74aa67e90894aec6a0a2955b5b2bc:3059757f5bcbf632810a797fdedf5933$</string>
            <key>textureFileName</key>
            <string>award_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
