<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backpack_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,277},{106,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,94}}</string>
                <key>sourceSize</key>
                <string>{106,94}</string>
            </dict>
            <key>backpack_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,1},{40,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,200}}</string>
                <key>sourceSize</key>
                <string>{40,200}</string>
            </dict>
            <key>backpack_medal_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,373},{86,90}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{86,90}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>backpack_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1},{160,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,28}}</string>
                <key>sourceSize</key>
                <string>{160,28}</string>
            </dict>
            <key>backpack_power_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{274,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{274,38}}</string>
                <key>sourceSize</key>
                <string>{276,38}</string>
            </dict>
            <key>backpack_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,203},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>backpack_role_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{490,474}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{490,474}}</string>
                <key>sourceSize</key>
                <string>{496,496}</string>
            </dict>
            <key>backpack_treasure_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,465},{104,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,10}}</string>
                <key>sourceSize</key>
                <string>{104,10}</string>
            </dict>
            <key>backpack_treasure_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,163},{108,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,14}}</string>
                <key>sourceSize</key>
                <string>{108,14}</string>
            </dict>
            <key>backpack_treasure_bar_full.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,163},{104,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,12}}</string>
                <key>sourceSize</key>
                <string>{104,12}</string>
            </dict>
            <key>backpack_treasure_bar_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,461},{8,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,14}}</string>
                <key>sourceSize</key>
                <string>{8,14}</string>
            </dict>
            <key>backpack_treasure_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,250},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>backpack_treasure_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,228},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>backpack_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,373},{86,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,30}}</string>
                <key>sourceSize</key>
                <string>{86,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>backpack.pvr.ccz</string>
            <key>size</key>
            <string>{612,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd28f13e8c3c041e30d94bac3eacf93a:50a79ee8c73edca26e391ddb995028a7:f1ad815eec5090602697c468640766eb$</string>
            <key>textureFileName</key>
            <string>backpack.pvr.ccz</string>
        </dict>
    </dict>
</plist>
