<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_guide_circle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,349},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>bt_guide_circle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,349},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>bt_guide_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{278,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,358}}</string>
                <key>sourceSize</key>
                <string>{278,358}</string>
            </dict>
            <key>bt_guide_iphone6.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{346,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,326}}</string>
                <key>sourceSize</key>
                <string>{346,326}</string>
            </dict>
            <key>bt_guide_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,361},{68,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,118}}</string>
                <key>sourceSize</key>
                <string>{68,118}</string>
            </dict>
            <key>bt_guide_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{68,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,118}}</string>
                <key>sourceSize</key>
                <string>{68,118}</string>
            </dict>
            <key>bt_guide_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,349},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bt_guide_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,349},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_guide.pvr.ccz</string>
            <key>size</key>
            <string>{608,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81f00d9aace6b42be186d400e04d69a6:f937a432ff7f847f725fcfe6de1e710d:8bf19d499a4e3ea421161a9588ee1c23$</string>
            <key>textureFileName</key>
            <string>battle_guide.pvr.ccz</string>
        </dict>
    </dict>
</plist>
