<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,825},{9,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,10}}</string>
                <key>sourceSize</key>
                <string>{9,10}</string>
            </dict>
            <key>battle_boss_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,656},{437,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,15}}</string>
                <key>sourceSize</key>
                <string>{437,15}</string>
            </dict>
            <key>battle_boss_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,631},{445,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,23}}</string>
                <key>sourceSize</key>
                <string>{445,23}</string>
            </dict>
            <key>battle_call_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,541},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>battle_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,937},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>battle_combo.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,457},{122,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,54}}</string>
                <key>sourceSize</key>
                <string>{122,54}</string>
            </dict>
            <key>battle_control.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,809},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>battle_control_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,825},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>battle_control_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,283},{300,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,300}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>battle_crit.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,859},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>battle_danger.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{153,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,150}}</string>
                <key>sourceSize</key>
                <string>{153,150}</string>
            </dict>
            <key>battle_dialog.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,780},{147,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,33}}</string>
                <key>sourceSize</key>
                <string>{147,33}</string>
            </dict>
            <key>battle_die_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,585},{400,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,44}}</string>
                <key>sourceSize</key>
                <string>{400,44}</string>
            </dict>
            <key>battle_gather.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,863},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>battle_goal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,187},{516,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{516,32}}</string>
                <key>sourceSize</key>
                <string>{516,32}</string>
            </dict>
            <key>battle_hp_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,469},{92,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,12}}</string>
                <key>sourceSize</key>
                <string>{92,12}</string>
            </dict>
            <key>battle_hp_no_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,283},{122,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,26}}</string>
                <key>sourceSize</key>
                <string>{122,26}</string>
            </dict>
            <key>battle_hp_partner.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,563},{97,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,10}}</string>
                <key>sourceSize</key>
                <string>{97,10}</string>
            </dict>
            <key>battle_hp_partner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,379},{92,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,8}}</string>
                <key>sourceSize</key>
                <string>{92,8}</string>
            </dict>
            <key>battle_hp_partner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,460},{92,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,8}}</string>
                <key>sourceSize</key>
                <string>{92,8}</string>
            </dict>
            <key>battle_hp_partner3.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,285},{92,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,8}}</string>
                <key>sourceSize</key>
                <string>{92,8}</string>
            </dict>
            <key>battle_hp_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,845},{98,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,18}}</string>
                <key>sourceSize</key>
                <string>{98,18}</string>
            </dict>
            <key>battle_hp_role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,375},{92,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,12}}</string>
                <key>sourceSize</key>
                <string>{92,12}</string>
            </dict>
            <key>battle_hp_role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,281},{92,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,12}}</string>
                <key>sourceSize</key>
                <string>{92,12}</string>
            </dict>
            <key>battle_hp_role3.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,187},{92,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,12}}</string>
                <key>sourceSize</key>
                <string>{92,12}</string>
            </dict>
            <key>battle_left_partner.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,789},{80,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,18}}</string>
                <key>sourceSize</key>
                <string>{80,18}</string>
            </dict>
            <key>battle_left_partner1.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,473},{66,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,8}}</string>
                <key>sourceSize</key>
                <string>{66,8}</string>
            </dict>
            <key>battle_left_partner2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,934},{66,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,8}}</string>
                <key>sourceSize</key>
                <string>{66,8}</string>
            </dict>
            <key>battle_left_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,931},{74,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,20}}</string>
                <key>sourceSize</key>
                <string>{74,20}</string>
            </dict>
            <key>battle_left_role1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,877},{64,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,10}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>battle_left_role2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,811},{64,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,10}}</string>
                <key>sourceSize</key>
                <string>{64,10}</string>
            </dict>
            <key>battle_left_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,915},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,20}}</string>
                <key>sourceSize</key>
                <string>{50,20}</string>
            </dict>
            <key>battle_miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,759},{80,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,28}</string>
            </dict>
            <key>battle_nobody.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{136,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,184}}</string>
                <key>sourceSize</key>
                <string>{136,184}</string>
            </dict>
            <key>battle_plunder_bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,755},{164,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,23}}</string>
                <key>sourceSize</key>
                <string>{164,23}</string>
            </dict>
            <key>battle_plunder_bar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,283},{172,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,31}}</string>
                <key>sourceSize</key>
                <string>{172,31}</string>
            </dict>
            <key>battle_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,374},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>battle_pvp_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,673},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>battle_pvp_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,811},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>battle_pvp_kill.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,759},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>battle_pvp_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,705},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>battle_radar_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,881},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>battle_radar_enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,937},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>battle_radar_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,585},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>battle_radar_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,680},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>battle_radar_friend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,937},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>battle_radar_mine.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,570},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>battle_radar_mine2.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,431},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>battle_range.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,187},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>battle_rank_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,809},{34,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>sourceSize</key>
                <string>{34,16}</string>
            </dict>
            <key>battle_rank_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{362,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,280}}</string>
                <key>sourceSize</key>
                <string>{362,280}</string>
            </dict>
            <key>battle_ship_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,541},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>battle_skill_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,374},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_skill_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,460},{79,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,79}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>battle_skill_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,845},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_skill_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,673},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>battle_speedup_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,879},{68,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,66}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>battle_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,407},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>battle_star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,554},{23,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,22}</string>
            </dict>
            <key>battle_star_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,815},{148,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,28}}</string>
                <key>sourceSize</key>
                <string>{148,28}</string>
            </dict>
            <key>battle_view_lock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,845},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>battle_view_lock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,285},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>battle_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,662},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,16}}</string>
                <key>sourceSize</key>
                <string>{12,16}</string>
            </dict>
            <key>battle_voice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,789},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,14}}</string>
                <key>sourceSize</key>
                <string>{10,14}</string>
            </dict>
            <key>battle_voice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,825},{10,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,18}}</string>
                <key>sourceSize</key>
                <string>{10,18}</string>
            </dict>
            <key>battle_voice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,431},{10,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,24}}</string>
                <key>sourceSize</key>
                <string>{10,24}</string>
            </dict>
            <key>battle_zoom_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,825},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>battle_zoom_in.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,791},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>battle_zoom_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,757},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_ui.pvr.ccz</string>
            <key>size</key>
            <string>{510,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83aca108d2d2995e4aa47f3615810c18:577e41b724f81546b4f61a0bde6a656a:3d872b81105a37586ccd7482750f6ef4$</string>
            <key>textureFileName</key>
            <string>battle_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
