<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_closed1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1693},{136,118}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,53},{136,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_closed2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1573},{136,118}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,53},{136,118}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_closed3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1451},{136,120}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,53},{136,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_closed4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1329},{136,120}}</string>
                <key>offset</key>
                <string>{18,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,53},{136,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_empty1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1167},{160,136}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{160,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_empty2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1005},{160,136}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{160,136}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_empty3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,843},{160,138}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{160,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_empty4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{160,138}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,35},{160,138}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_full1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,511},{168,156}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_full2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{168,156}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{168,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_full3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{168,158}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{168,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>box_full4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{168,158}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{168,158}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box.pvr.ccz</string>
            <key>size</key>
            <string>{160,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78127469d7f6716faf932b3c314b8a66:14d29baa7674a0f88da98885d2b14a5e:2d3529b5ebfd4d7e95bba3df71e3b645$</string>
            <key>textureFileName</key>
            <string>box.pvr.ccz</string>
        </dict>
    </dict>
</plist>
