<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiafang.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jiagong.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jianfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jiangong.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jiansu.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jiasu.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>jinliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>xuruo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{24,24}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>zhiliao.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,1},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{18,20}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_icon.pvr.ccz</string>
            <key>size</key>
            <string>{186,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:235b13bff3fccc1c39f5dbcc32df11c0:a440ff59ce711c5e4e6d3320f6fd911e:109ed9e2788406868e673941c97ef5bf$</string>
            <key>textureFileName</key>
            <string>buff_icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
