<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_avatar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,543},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>chat_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{490,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,540}}</string>
                <key>sourceSize</key>
                <string>{490,540}</string>
            </dict>
            <key>chat_box_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,543},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>chat_box_guild.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,652},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>chat_box_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,652},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>chat_box_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,652},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>chat_box_team.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,625},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>chat_box_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,647},{41,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,21}}</string>
                <key>sourceSize</key>
                <string>{41,21}</string>
            </dict>
            <key>chat_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,600},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chat_btn_emoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,625},{48,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chat_btn_record.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,611},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{54,56}</string>
            </dict>
            <key>chat_btn_send1.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,543},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>chat_btn_send2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,543},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,48}}</string>
                <key>sourceSize</key>
                <string>{122,48}</string>
            </dict>
            <key>chat_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,543},{54,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,55}}</string>
                <key>sourceSize</key>
                <string>{54,55}</string>
            </dict>
            <key>chat_btn_voice.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,600},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>chat_channel_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,647},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>chat_channle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,579},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>chat_dialogue_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,566},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>chat_dialogue_others.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,613},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>chat_news_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,543},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>chat_play_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,647},{51,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{51,26}}</string>
                <key>sourceSize</key>
                <string>{53,26}</string>
            </dict>
            <key>chat_play_wave.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,625},{11,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,14}}</string>
                <key>sourceSize</key>
                <string>{13,16}</string>
            </dict>
            <key>chat_private.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,543},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>chat_recording.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,543},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat_ui.pvr.ccz</string>
            <key>size</key>
            <string>{493,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72224e87bc2cee538b584a4fc4677059:b17cf6eb596c6fb229b95a1bd1de4a4e:502632fd6f89832d38a4fd4611dc9c23$</string>
            <key>textureFileName</key>
            <string>chat_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
