<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collect_ship_bottom.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1179,1},{420,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,40}}</string>
                <key>sourceSize</key>
                <string>{420,40}</string>
            </dict>
            <key>collect_ship_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,1},{272,494}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,494}}</string>
                <key>sourceSize</key>
                <string>{272,494}</string>
            </dict>
            <key>collet_ship_bottle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{902,500}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{902,500}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>collect_ship.pvr.ccz</string>
            <key>size</key>
            <string>{1220,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4973925046014d5eca1c36ca23ea0b51:286e971f5a1dad47701368cb67a8a794:451a736e518979ff81f1b519a087509f$</string>
            <key>textureFileName</key>
            <string>collect_ship.pvr.ccz</string>
        </dict>
    </dict>
</plist>
