<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>collect_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{206,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,194}}</string>
                <key>sourceSize</key>
                <string>{206,194}</string>
            </dict>
            <key>collect_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
            <key>collect_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1},{26,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,99}}</string>
                <key>sourceSize</key>
                <string>{26,99}</string>
            </dict>
            <key>collect_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,1},{192,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,179}}</string>
                <key>sourceSize</key>
                <string>{192,179}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>collect_room.pvr.ccz</string>
            <key>size</key>
            <string>{487,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d597a0bb0fb6a2aa04c3dceaa586cd4:4963007b7070188f6b06c9fc17620b0e:2d1e01e5e6ac9c4bda6c7a4953c8fffd$</string>
            <key>textureFileName</key>
            <string>collect_room.pvr.ccz</string>
        </dict>
    </dict>
</plist>
