<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explore_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,9},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,94}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>explore_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,190},{46,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explore_ban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,226},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>explore_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,105},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>explore_boss_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,110},{264,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{264,78}}</string>
                <key>sourceSize</key>
                <string>{266,78}</string>
            </dict>
            <key>explore_boss_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{10,350}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,350}}</string>
                <key>sourceSize</key>
                <string>{10,350}</string>
            </dict>
            <key>explore_btn_collect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,105},{50,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>explore_btn_fix.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,155},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{50,48}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>explore_captain_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,92},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>explore_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,1},{314,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{314,6}}</string>
                <key>sourceSize</key>
                <string>{314,6}</string>
            </dict>
            <key>explore_exp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,13},{348,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,10}}</string>
                <key>sourceSize</key>
                <string>{348,10}</string>
            </dict>
            <key>explore_food.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,135},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,34}</string>
            </dict>
            <key>explore_guild_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,217},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>explore_guild_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,108},{26,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{26,32}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>explore_guild_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,222},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>explore_head_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,178},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>explore_head_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,173},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>explore_head_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,182},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>explore_head_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,205},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>explore_head_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,138},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>explore_head_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,157},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>explore_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,142},{84,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,58}}</string>
                <key>sourceSize</key>
                <string>{84,58}</string>
            </dict>
            <key>explore_heart_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,202},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>explore_heart_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,202},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{52,46}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>explore_hidden_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,71},{42,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,80}}</string>
                <key>sourceSize</key>
                <string>{42,80}</string>
            </dict>
            <key>explore_hidden_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,9},{44,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,81}}</string>
                <key>sourceSize</key>
                <string>{44,81}</string>
            </dict>
            <key>explore_light_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,226},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explore_light_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,176},{26,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>explore_map_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,188},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>explore_map_pos.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,225},{134,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,26}}</string>
                <key>sourceSize</key>
                <string>{134,26}</string>
            </dict>
            <key>explore_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,190},{220,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,53}}</string>
                <key>sourceSize</key>
                <string>{222,53}</string>
            </dict>
            <key>explore_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,25},{223,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,84}}</string>
                <key>sourceSize</key>
                <string>{223,84}</string>
            </dict>
            <key>explore_new_port_shade.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,25},{300,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,20}}</string>
                <key>sourceSize</key>
                <string>{300,20}</string>
            </dict>
            <key>explore_ore_attack.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,53},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>explore_ore_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,135},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{41,50}</string>
            </dict>
            <key>explore_ore_denfense.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,205},{47,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,49}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>explore_ore_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,47},{202,53}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{202,53}}</string>
                <key>sourceSize</key>
                <string>{210,79}</string>
            </dict>
            <key>explore_player_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,178},{42,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>explore_player_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,72},{335,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,36}}</string>
                <key>sourceSize</key>
                <string>{337,36}</string>
            </dict>
            <key>explore_player_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,188},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explore_player_view.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,109},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,46}}</string>
                <key>sourceSize</key>
                <string>{52,46}</string>
            </dict>
            <key>explore_plunder.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1},{74,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{74,50}</string>
            </dict>
            <key>explore_plunder_cd.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,108},{123,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>explore_plunder_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,222},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>explore_plunder_refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,222},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>explore_plunder_trader.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,174},{33,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,34}}</string>
                <key>sourceSize</key>
                <string>{33,34}</string>
            </dict>
            <key>explore_plunder_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,1},{56,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,22}}</string>
                <key>sourceSize</key>
                <string>{56,22}</string>
            </dict>
            <key>explore_port_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,47},{190,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,250}}</string>
                <key>sourceSize</key>
                <string>{190,250}</string>
            </dict>
            <key>explore_pve1.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,121},{124,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{124,102}}</string>
                <key>sourceSize</key>
                <string>{134,110}</string>
            </dict>
            <key>explore_pve2.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,9},{134,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,110}}</string>
                <key>sourceSize</key>
                <string>{134,110}</string>
            </dict>
            <key>explore_pve_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,109},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>explore_pve_complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,204},{50,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,53}}</string>
                <key>sourceSize</key>
                <string>{50,53}</string>
            </dict>
            <key>explore_pve_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,142},{38,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,60}}</string>
                <key>sourceSize</key>
                <string>{38,60}</string>
            </dict>
            <key>explore_rank_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,1},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>explore_sail_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,71},{62,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explore_sail_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,115},{58,56}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{58,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>explore_seaman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1385,59},{35,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,34}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>explore_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,110},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>explore_stop.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,153},{50,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>explore_stronghold_grade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{500,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,69}}</string>
                <key>sourceSize</key>
                <string>{500,69}</string>
            </dict>
            <key>explore_time.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,142},{30,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{30,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>explore_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,72},{158,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,34}}</string>
                <key>sourceSize</key>
                <string>{158,34}</string>
            </dict>
            <key>explore_vs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,68}}</string>
                <key>sourceSize</key>
                <string>{76,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explore_sea.pvr.ccz</string>
            <key>size</key>
            <string>{1425,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d303956f2ae7d1dd16254d99ab917aa:312a2056d639e1bb7f1bef64a31d8130:75b206de284c96dd2a13c89bdf80e924$</string>
            <key>textureFileName</key>
            <string>explore_sea.pvr.ccz</string>
        </dict>
    </dict>
</plist>
