<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fleet_remake_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>fleet_remake_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{58,60}</string>
            </dict>
            <key>fleet_remake_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{70,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,60}}</string>
                <key>sourceSize</key>
                <string>{70,60}</string>
            </dict>
            <key>fleet_remake_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fleet_ui.pvr.ccz</string>
            <key>size</key>
            <string>{265,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75d40c92aece03504e29c0b5c9ead653:3ee3a753ef555861cf230abca03ae973:535c8eac4c1e30d3afc19d42f12f460c$</string>
            <key>textureFileName</key>
            <string>fleet_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
