<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_center_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>game_center_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1},{99,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,106}}</string>
                <key>sourceSize</key>
                <string>{99,106}</string>
            </dict>
            <key>game_center_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{81,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,97}}</string>
                <key>sourceSize</key>
                <string>{81,97}</string>
            </dict>
            <key>game_center_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,81},{32,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,22}}</string>
                <key>sourceSize</key>
                <string>{32,22}</string>
            </dict>
            <key>game_center_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1},{82,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,91}}</string>
                <key>sourceSize</key>
                <string>{82,91}</string>
            </dict>
            <key>game_center_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{419,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,114}}</string>
                <key>sourceSize</key>
                <string>{419,114}</string>
            </dict>
            <key>game_center_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1},{88,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,87}}</string>
                <key>sourceSize</key>
                <string>{88,87}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_center.pvr.ccz</string>
            <key>size</key>
            <string>{858,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2b28a62bcc2ab63f3247e259d28b79d:c9b999dfecd4ca992b1eddbfde635fd7:5bd5ddfc04cd2c9a6f2a68f19024de66$</string>
            <key>textureFileName</key>
            <string>game_center.pvr.ccz</string>
        </dict>
    </dict>
</plist>
