<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_badge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,215},{190,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{190,196}}</string>
                <key>sourceSize</key>
                <string>{192,212}</string>
            </dict>
            <key>guild_badge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{192,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,212}}</string>
                <key>sourceSize</key>
                <string>{192,212}</string>
            </dict>
            <key>guild_badge_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,413},{184,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,12},{184,188}}</string>
                <key>sourceSize</key>
                <string>{192,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_badge.pvr.ccz</string>
            <key>size</key>
            <string>{194,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d883544d0146944be2d219972f67d0a:f528ebab8083cca75369d479ac5606d9:45816bd8e5a3aa5496e9d49a637f0cdd$</string>
            <key>textureFileName</key>
            <string>guild_badge.pvr.ccz</string>
        </dict>
    </dict>
</plist>
