<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_mvp_adv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{238,326}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{238,326}}</string>
                <key>sourceSize</key>
                <string>{274,334}</string>
            </dict>
            <key>guild_mvp_army.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1},{238,318}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{238,318}}</string>
                <key>sourceSize</key>
                <string>{274,334}</string>
            </dict>
            <key>guild_mvp_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,321},{172,286}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,48},{172,286}}</string>
                <key>sourceSize</key>
                <string>{274,334}</string>
            </dict>
            <key>guild_mvp_navy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{274,322}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{274,322}}</string>
                <key>sourceSize</key>
                <string>{274,334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_mvp.pvr.ccz</string>
            <key>size</key>
            <string>{498,608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7955472be513be57b9eb1181798e0bef:cdcbcb0006fc9e6cde290a5186a4d0a0:f0a24954f2b7369813fcd42e10155603$</string>
            <key>textureFileName</key>
            <string>guild_mvp.pvr.ccz</string>
        </dict>
    </dict>
</plist>
