<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guild_lobby_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{320,292}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{320,292}}</string>
                <key>sourceSize</key>
                <string>{324,334}</string>
            </dict>
            <key>guild_lobby_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{324,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,344}}</string>
                <key>sourceSize</key>
                <string>{324,344}</string>
            </dict>
            <key>guild_main_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,809},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>guild_main_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,761},{151,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,46}}</string>
                <key>sourceSize</key>
                <string>{151,46}</string>
            </dict>
            <key>guild_ship_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,347},{412,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{412,246}}</string>
                <key>sourceSize</key>
                <string>{412,246}</string>
            </dict>
            <key>guild_ship_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,1},{222,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,126}}</string>
                <key>sourceSize</key>
                <string>{222,126}</string>
            </dict>
            <key>guild_star_statue.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,857},{78,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,100}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>guild_storehouse.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,347},{422,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,240}}</string>
                <key>sourceSize</key>
                <string>{422,240}</string>
            </dict>
            <key>guild_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,225},{162,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{162,92}}</string>
                <key>sourceSize</key>
                <string>{166,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guild_main.pvr.ccz</string>
            <key>size</key>
            <string>{490,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b30f4c7b4be076444a907570485fcce1:de9a448f8a0ef09139f65a07a830d34d:0800488949ba300cbbd0d4deec77d124$</string>
            <key>textureFileName</key>
            <string>guild_main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
