<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hotel_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,303},{62,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{62,80}</string>
            </dict>
            <key>hotel_btn_arrow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,421},{52,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>hotel_btn_arrow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,421},{42,24}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,24}}</string>
                <key>sourceSize</key>
                <string>{52,28}</string>
            </dict>
            <key>hotel_list_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,387},{40,414}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,414}}</string>
                <key>sourceSize</key>
                <string>{40,414}</string>
            </dict>
            <key>hotel_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,421},{128,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,26}}</string>
                <key>sourceSize</key>
                <string>{128,26}</string>
            </dict>
            <key>hotel_recruit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,375},{196,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,66}}</string>
                <key>sourceSize</key>
                <string>{196,66}</string>
            </dict>
            <key>hotel_recruit_girl1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1},{258,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,372}}</string>
                <key>sourceSize</key>
                <string>{258,372}</string>
            </dict>
            <key>hotel_recruit_girl2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1771,1},{258,348}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{258,348}}</string>
                <key>sourceSize</key>
                <string>{258,368}</string>
            </dict>
            <key>hotel_recruit_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,447},{202,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,2}}</string>
                <key>sourceSize</key>
                <string>{202,2}</string>
            </dict>
            <key>hotel_recruit_option.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1},{280,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,384}}</string>
                <key>sourceSize</key>
                <string>{282,384}</string>
            </dict>
            <key>hotel_recruit_option2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1},{282,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,384}}</string>
                <key>sourceSize</key>
                <string>{282,384}</string>
            </dict>
            <key>hotel_recruit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,387},{174,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,44}}</string>
                <key>sourceSize</key>
                <string>{174,44}</string>
            </dict>
            <key>hotel_sailor_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,185},{140,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>hotel_sailor_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{418,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,374}}</string>
                <key>sourceSize</key>
                <string>{418,374}</string>
            </dict>
            <key>hotel_sailor_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1},{566,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{566,182}}</string>
                <key>sourceSize</key>
                <string>{566,182}</string>
            </dict>
            <key>hotel_slogan_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,375},{694,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{694,74}}</string>
                <key>sourceSize</key>
                <string>{694,74}</string>
            </dict>
            <key>hotel_slogan_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,421},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,16}}</string>
                <key>sourceSize</key>
                <string>{18,16}</string>
            </dict>
            <key>hotel_slogan_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,321},{124,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,34}}</string>
                <key>sourceSize</key>
                <string>{124,34}</string>
            </dict>
            <key>hotel_story_icon1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,269},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hotel_story_icon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,185},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hotel_story_icon3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1950,351},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>hotel_story_icon4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1863,351},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>hotel_treat_elite.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,185},{116,136}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,1},{116,136}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
            <key>hotel_treat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,185},{122,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,134}}</string>
                <key>sourceSize</key>
                <string>{126,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hotel_ui.pvr.ccz</string>
            <key>size</key>
            <string>{2035,450}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:783052befca4de5f900b73655fcafcac:46d27358bf37a8e59e10c1cdc1f192a6:8d0b584134de97ad5727ee5d055efbcd$</string>
            <key>textureFileName</key>
            <string>hotel_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
