<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{79,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,90}}</string>
                <key>sourceSize</key>
                <string>{79,90}</string>
            </dict>
            <key>login_btn_notice.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,62},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>login_btn_replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>login_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,42}}</string>
                <key>sourceSize</key>
                <string>{256,42}</string>
            </dict>
            <key>login_qq.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,93},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>login_qq_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,45},{144,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,30}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
            <key>login_visitor.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,45},{45,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,36}}</string>
                <key>sourceSize</key>
                <string>{45,36}</string>
            </dict>
            <key>login_visitor_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,93},{144,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,30}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
            <key>login_wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,45},{41,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,38}}</string>
                <key>sourceSize</key>
                <string>{41,38}</string>
            </dict>
            <key>login_wechat_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{144,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,30}}</string>
                <key>sourceSize</key>
                <string>{144,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login.pvr.ccz</string>
            <key>size</key>
            <string>{398,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96bfef33a83a7f4a454a036b2f6ac65a:d0c299d8cb87ed479c99b986c96a4c28:d74d9ddcdb92e9dcf0ab1b3bff211479$</string>
            <key>textureFileName</key>
            <string>login.pvr.ccz</string>
        </dict>
    </dict>
</plist>
