<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_arrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,63},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>map_arrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,35},{100,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,26}}</string>
                <key>sourceSize</key>
                <string>{100,26}</string>
            </dict>
            <key>map_award_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,91},{120,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,26}}</string>
                <key>sourceSize</key>
                <string>{120,26}</string>
            </dict>
            <key>map_award_text_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1},{160,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,20}}</string>
                <key>sourceSize</key>
                <string>{160,20}</string>
            </dict>
            <key>map_batman.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{40,36}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>map_boss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,46}</string>
            </dict>
            <key>map_box_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,100}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>map_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,85},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>map_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,85},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>map_btn_help1.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>map_btn_help2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,35},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>map_btn_purpose.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,85},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>map_btn_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,85},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>map_btn_world.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,85},{40,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,42}}</string>
                <key>sourceSize</key>
                <string>{40,42}</string>
            </dict>
            <key>map_forbidden.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,55},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>map_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,88}}</string>
                <key>sourceSize</key>
                <string>{134,88}</string>
            </dict>
            <key>map_goal.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>map_goods_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>map_goods_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,85},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>map_goods_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,49},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,85},{42,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_green_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,85},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_green_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,85},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_green_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,67},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_green_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,67},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_green_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,23},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_hotsell.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1},{56,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,66}}</string>
                <key>sourceSize</key>
                <string>{56,66}</string>
            </dict>
            <key>map_goods_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,47},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,43},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,1},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_rest_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{40,36}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,49},{44,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,67},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,23},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,69},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,67},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_rest_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,23},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,49},{40,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,91},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_yellow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,49},{44,40}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{44,40}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_yellow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,67},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_yellow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,23},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_yellow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,69},{46,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,42}</string>
            </dict>
            <key>map_goods_yellow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,83},{42,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{42,44}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_goods_yellow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,23},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,46}</string>
            </dict>
            <key>map_hp_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,119},{54,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,8}}</string>
                <key>sourceSize</key>
                <string>{56,10}</string>
            </dict>
            <key>map_hp_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,111},{56,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,10}}</string>
                <key>sourceSize</key>
                <string>{56,10}</string>
            </dict>
            <key>map_icon_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,63},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>map_icon_goods.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,43},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>map_icon_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,57},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>map_icon_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,23},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>map_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,23},{192,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,10}}</string>
                <key>sourceSize</key>
                <string>{192,10}</string>
            </dict>
            <key>map_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,51},{36,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,23}}</string>
                <key>sourceSize</key>
                <string>{36,23}</string>
            </dict>
            <key>map_mineral_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,103},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>map_mineral_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,103},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>map_mineral_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,103},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>map_mineral_me.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,103},{22,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{22,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>map_relic_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,103},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>map_relic_found.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,51},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{22,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>map_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{195,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,20}}</string>
                <key>sourceSize</key>
                <string>{195,20}</string>
            </dict>
            <key>map_stronghold_enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,57},{28,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>map_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,45}}</string>
                <key>sourceSize</key>
                <string>{50,45}</string>
            </dict>
            <key>map_task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,1},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>map_task_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>map_task_battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>map_task_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>map_task_explore.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,35},{46,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{46,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>map_task_octopus.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,1},{50,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>map_task_trade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,49},{40,44}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,44}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>map_whirlpool.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,51},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>map_worldmap.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,1},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map.pvr.ccz</string>
            <key>size</key>
            <string>{1255,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b66092d2876131a575dc44feea66ceb:0669840d0b0d29216c7467a53e5e9a1f:856eac5a89443ffd37b18f461d4e3048$</string>
            <key>textureFileName</key>
            <string>map.pvr.ccz</string>
        </dict>
    </dict>
</plist>
