<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_btn_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,1},{74,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,86}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>main_btn_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1315,1},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>main_buff_exp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1},{31,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>main_building_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1},{88,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,306}}</string>
                <key>sourceSize</key>
                <string>{88,306}</string>
            </dict>
            <key>main_building_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1},{128,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,64}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>main_ce_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,62},{118,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,26}}</string>
                <key>sourceSize</key>
                <string>{118,26}</string>
            </dict>
            <key>main_ce_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,1},{22,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,25}}</string>
                <key>sourceSize</key>
                <string>{22,25}</string>
            </dict>
            <key>main_coin_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,40},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>main_coin_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{1437,1},{146,29}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{146,29}}</string>
                <key>sourceSize</key>
                <string>{148,29}</string>
            </dict>
            <key>main_exp_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,62},{126,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,18}}</string>
                <key>sourceSize</key>
                <string>{126,18}</string>
            </dict>
            <key>main_exp_progress_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,32},{146,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,28}}</string>
                <key>sourceSize</key>
                <string>{146,28}</string>
            </dict>
            <key>main_icon_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,53},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>main_icon_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,53},{41,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{41,36}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>main_icon_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>main_icon_report.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,1},{62,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,54}}</string>
                <key>sourceSize</key>
                <string>{62,54}</string>
            </dict>
            <key>main_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>main_player_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>main_player_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>main_player_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>main_player_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>main_player_bg5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>main_player_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,1},{62,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,28}}</string>
                <key>sourceSize</key>
                <string>{62,28}</string>
            </dict>
            <key>main_ruins.png</key>
            <dict>
                <key>frame</key>
                <string>{{1267,1},{51,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{51,46}}</string>
                <key>sourceSize</key>
                <string>{59,50}</string>
            </dict>
            <key>main_shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1},{88,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,92}}</string>
                <key>sourceSize</key>
                <string>{88,92}</string>
            </dict>
            <key>main_task_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,54},{41,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,43}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>main_task_tips_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,67},{222,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,28}}</string>
                <key>sourceSize</key>
                <string>{222,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>port_main.pvr.ccz</string>
            <key>size</key>
            <string>{1685,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90a6f4abb1b5f680c347f5e90f64de0:fa892717b5e7fd201fceb7a2cffc1878:64835f676379699e3eeb58da2aedce17$</string>
            <key>textureFileName</key>
            <string>port_main.pvr.ccz</string>
        </dict>
    </dict>
</plist>
