<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_attr_pic.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,1},{136,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{136,154}}</string>
                <key>sourceSize</key>
                <string>{136,156}</string>
            </dict>
            <key>role_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,221},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>role_enter_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,157},{136,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{138,138}</string>
            </dict>
            <key>role_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{447,540}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{447,540}}</string>
                <key>sourceSize</key>
                <string>{473,540}</string>
            </dict>
            <key>role_job_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{60,340}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,340}}</string>
                <key>sourceSize</key>
                <string>{60,340}</string>
            </dict>
            <key>role_job_name1.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,315},{93,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,39}}</string>
                <key>sourceSize</key>
                <string>{93,39}</string>
            </dict>
            <key>role_job_name2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,379},{93,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,45}}</string>
                <key>sourceSize</key>
                <string>{93,45}</string>
            </dict>
            <key>role_job_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,297},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>role_left_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,343},{116,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,100}}</string>
                <key>sourceSize</key>
                <string>{116,100}</string>
            </dict>
            <key>role_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1},{220,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,53}}</string>
                <key>sourceSize</key>
                <string>{222,53}</string>
            </dict>
            <key>role_net_adventure.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,223},{78,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,90}}</string>
                <key>sourceSize</key>
                <string>{78,90}</string>
            </dict>
            <key>role_net_navy.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,315},{62,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,82}}</string>
                <key>sourceSize</key>
                <string>{62,82}</string>
            </dict>
            <key>role_net_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,391},{96,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,56}}</string>
                <key>sourceSize</key>
                <string>{96,56}</string>
            </dict>
            <key>role_rename.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,1},{218,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,42}}</string>
                <key>sourceSize</key>
                <string>{218,42}</string>
            </dict>
            <key>role_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{316,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,35}}</string>
                <key>sourceSize</key>
                <string>{316,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>role_ui.pvr.ccz</string>
            <key>size</key>
            <string>{894,449}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8c5451ef7ce3eaf6b35242a3ebc56c:81c03378b931c680d2ca1af8af900295:2d90fc973b63c0eac8a065017a25afab$</string>
            <key>textureFileName</key>
            <string>role_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
