<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,269},{61,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,11},{61,50}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,269},{77,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{77,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,337},{81,62}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{81,62}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,436},{77,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{77,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,197},{87,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{87,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,197},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{87,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,420},{81,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{81,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{97,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{97,70}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,129},{87,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{87,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1},{99,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,68}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,242},{93,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{93,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,332},{71,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{71,56}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,145},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,244},{95,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{95,68}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{91,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{91,72}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,337},{81,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{81,58}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,420},{79,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{79,62}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,137},{91,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{91,58}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,67},{93,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{93,60}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,337},{93,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{93,68}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,205},{85,62}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{85,62}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,145},{97,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{97,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,416},{71,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{71,56}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,73},{87,70}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{87,70}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,432},{83,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{83,68}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,67},{91,68}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{91,68}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{101,70}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,70}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,246},{97,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{97,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,75},{89,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{89,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{99,66}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{99,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,341},{93,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{93,68}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,265},{79,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{79,70}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1},{99,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,345},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{95,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{101,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{101,64}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,442},{81,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{81,58}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,335},{79,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{79,58}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,141},{89,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{89,62}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,269},{61,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{61,66}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
            <key>ship_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,337},{93,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,13},{93,46}}</string>
                <key>sourceSize</key>
                <string>{101,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ship_icon.pvr.ccz</string>
            <key>size</key>
            <string>{501,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ae12325536a6f55691f580f6caf2ce:d2da5e0f4fea7d9c4328903ebf0a905c:9efa96071ff4a1976f1328496a59d44c$</string>
            <key>textureFileName</key>
            <string>ship_icon.pvr.ccz</string>
        </dict>
    </dict>
</plist>
