<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shipyard_9_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,351},{40,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,65}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>shipyard_btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,418},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shipyard_btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,439},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shipyard_btn_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,191},{82,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,20}}</string>
                <key>sourceSize</key>
                <string>{82,20}</string>
            </dict>
            <key>shipyard_btn_hammer_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,425},{108,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{108,98}}</string>
                <key>sourceSize</key>
                <string>{110,98}</string>
            </dict>
            <key>shipyard_camp_navy.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,460},{39,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,27}}</string>
                <key>sourceSize</key>
                <string>{39,27}</string>
            </dict>
            <key>shipyard_camp_pirate.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,319},{42,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,30}}</string>
                <key>sourceSize</key>
                <string>{42,30}</string>
            </dict>
            <key>shipyard_color_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,179},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shipyard_color_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,163},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shipyard_color_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,147},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>shipyard_cost_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,191},{150,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,30}}</string>
                <key>sourceSize</key>
                <string>{150,30}</string>
            </dict>
            <key>shipyard_figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,341},{47,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,54}}</string>
                <key>sourceSize</key>
                <string>{47,54}</string>
            </dict>
            <key>shipyard_figure2.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,275},{42,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>shipyard_icon_common.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,341},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>shipyard_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,341},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>shipyard_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{498,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{498,10}}</string>
                <key>sourceSize</key>
                <string>{498,10}</string>
            </dict>
            <key>shipyard_item_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,341},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>shipyard_item_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,425},{228,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{228,100}}</string>
                <key>sourceSize</key>
                <string>{232,104}</string>
            </dict>
            <key>shipyard_label_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,397},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>shipyard_level_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,223},{116,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>sourceSize</key>
                <string>{116,144}</string>
            </dict>
            <key>shipyard_role_girl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,13},{218,316}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{218,316}}</string>
                <key>sourceSize</key>
                <string>{222,320}</string>
            </dict>
            <key>shipyard_ship_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,233},{254,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,106}}</string>
                <key>sourceSize</key>
                <string>{254,106}</string>
            </dict>
            <key>shipyard_ship_xilian_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,479},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>shipyard_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,13},{186,44}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{186,44}}</string>
                <key>sourceSize</key>
                <string>{198,46}</string>
            </dict>
            <key>shipyard_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,351},{198,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,46}}</string>
                <key>sourceSize</key>
                <string>{198,46}</string>
            </dict>
            <key>shipyard_title_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,341},{202,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,30}}</string>
                <key>sourceSize</key>
                <string>{202,30}</string>
            </dict>
            <key>shipyard_type_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,233},{190,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,60}}</string>
                <key>sourceSize</key>
                <string>{190,60}</string>
            </dict>
            <key>shipyard_type_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,103},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>shipyard_type_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,59},{176,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
            <key>shipyard_type_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,147},{172,42}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{176,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shipyard_ui.pvr.ccz</string>
            <key>size</key>
            <string>{508,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:174506e647d44f17f2151bbdb021c298:8e78b35bd83bd8d2fcbc2bfed99c20f7:38f04c2acb6d1c8891ffcf42e5af14ca$</string>
            <key>textureFileName</key>
            <string>shipyard_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
