<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,270},{163,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,188}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{200,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,187}}</string>
                <key>sourceSize</key>
                <string>{200,187}</string>
            </dict>
            <key>shop_item_crystal.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,617},{153,154}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,22},{153,154}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_diamond_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,410},{91,84}}</string>
                <key>offset</key>
                <string>{7,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,71},{91,84}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_diamond_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,489},{145,126}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,51},{145,126}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_diamond_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,791},{105,98}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,59},{105,98}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_diamond_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,891},{125,124}}</string>
                <key>offset</key>
                <string>{6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,45},{125,124}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_diamond_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,862},{141,138}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,37},{141,138}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_diamond_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,580},{143,156}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,29},{143,156}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_drawing.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,862},{131,100}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,44},{131,100}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_essence.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,503},{83,112}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{83,112}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,391},{127,96}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{127,96}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,269},{115,120}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,43},{115,120}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_hammer1.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,81},{119,84}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,51},{119,84}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_hammer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,1},{123,86}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,50},{123,86}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_hammer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,126},{121,86}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,50},{121,86}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,167},{117,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,44},{117,100}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,293},{115,90}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,59},{115,90}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_tear.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,685},{73,104}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,52},{73,104}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_item_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{135,146}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,40},{135,146}}</string>
                <key>sourceSize</key>
                <string>{163,188}</string>
            </dict>
            <key>shop_on_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,249},{85,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,42}}</string>
                <key>sourceSize</key>
                <string>{85,42}</string>
            </dict>
            <key>shop_price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,435},{174,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,33}}</string>
                <key>sourceSize</key>
                <string>{174,33}</string>
            </dict>
            <key>shop_recharge_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,525},{170,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,53}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>shop_recharge_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,470},{170,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,53}}</string>
                <key>sourceSize</key>
                <string>{170,53}</string>
            </dict>
            <key>shop_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,685},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>shop_rope.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,321}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,321}}</string>
                <key>sourceSize</key>
                <string>{78,321}</string>
            </dict>
            <key>shop_sales.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,846},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>shop_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,772},{50,72}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{50,72}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>shop_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,617},{66,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,92}}</string>
                <key>sourceSize</key>
                <string>{66,92}</string>
            </dict>
            <key>shop_title_figure.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,891},{72,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>shop_title_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,791},{97,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,61}}</string>
                <key>sourceSize</key>
                <string>{97,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop_ui.pvr.ccz</string>
            <key>size</key>
            <string>{411,1017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7e6060a48c24be9786a44e9d92c271a:b7a7d68a5f1d840652e11167dcbb9026:529335a8965c041d9551e630462657d6$</string>
            <key>textureFileName</key>
            <string>shop_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
