<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>staff_text_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,30}}</string>
                <key>sourceSize</key>
                <string>{98,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>staff.pvr.ccz</string>
            <key>size</key>
            <string>{100,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c01b67fbe4099e5991689c8ea3393c2c:c2fdd36b6f9f41e79638418add27e503:5577f670574574330c81466b3c1e295b$</string>
            <key>textureFileName</key>
            <string>staff.pvr.ccz</string>
        </dict>
    </dict>
</plist>
