<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>system_around.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{26,38}</string>
            </dict>
            <key>system_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,166},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>system_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{46,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{46,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>system_recommend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,59},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>system_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,194},{32,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>system_tick.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>system_ui.pvr.ccz</string>
            <key>size</key>
            <string>{48,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2183fd77a187abae9192f921f52e6c8:5f2d8a066902a3cf47dd41c9518aea1b:f809eb32e54ff034a84bdf622636ab0c$</string>
            <key>textureFileName</key>
            <string>system_ui.pvr.ccz</string>
        </dict>
    </dict>
</plist>
