<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_name_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,935},{100,48}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{100,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,417},{110,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{110,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,629},{108,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,529},{98,46}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{98,46}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,261},{112,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{112,54}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{126,48}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{126,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{112,46}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,12},{112,46}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,157},{116,44}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{116,44}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,307},{108,40}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,15},{108,40}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,105},{118,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,155},{116,52}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{116,52}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,881},{104,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{104,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,519},{110,48}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,7},{110,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,513},{110,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{110,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,417},{110,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{110,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,469},{110,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{110,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,411},{110,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{110,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{110,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{110,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,365},{110,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{110,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,463},{110,48}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{110,48}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_adv_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{110,50}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{110,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,673},{108,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,623},{108,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,615},{108,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,621},{108,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,571},{108,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,563},{108,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,771},{106,50}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_army_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{108,50}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_baron.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,951},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>title_name_duke.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,985},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>title_name_earl.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,985},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>title_name_knight.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,985},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>title_name_marquis.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,985},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>title_name_navy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,359},{112,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{112,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,255},{114,50}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{114,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,313},{112,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{112,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,209},{114,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{114,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,307},{112,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{112,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,209},{114,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{114,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,261},{112,50}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{112,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_navy_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,203},{114,50}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{114,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,739},{106,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,777},{106,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,727},{106,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,719},{106,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,725},{106,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,519},{108,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{108,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,675},{106,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_pirate_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,667},{106,50}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{106,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_qq_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,417},{110,46}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{110,46}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,53},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,157},{116,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{116,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,53},{118,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,105},{116,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{116,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{118,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_rich_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1},{118,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{118,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,831},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{104,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,933},{102,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{102,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,883},{102,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{102,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,875},{102,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,4},{102,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,823},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{104,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,847},{102,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{102,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,829},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{104,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_total_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,779},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{104,50}}</string>
                <key>sourceSize</key>
                <string>{144,58}</string>
            </dict>
            <key>title_name_viscount.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,985},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>title_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,994},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>title_side_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,935},{15,13}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,13}}</string>
                <key>sourceSize</key>
                <string>{17,13}</string>
            </dict>
            <key>title_side_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,976},{16,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,17}}</string>
                <key>sourceSize</key>
                <string>{16,17}</string>
            </dict>
            <key>title_side_blue_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,948},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>title_side_blue_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,927},{37,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,19}}</string>
                <key>sourceSize</key>
                <string>{37,19}</string>
            </dict>
            <key>title_side_blue_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,98},{49,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,20}}</string>
                <key>sourceSize</key>
                <string>{49,20}</string>
            </dict>
            <key>title_side_blue_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,187},{57,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,26}}</string>
                <key>sourceSize</key>
                <string>{57,26}</string>
            </dict>
            <key>title_side_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,927},{20,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,23}}</string>
                <key>sourceSize</key>
                <string>{20,23}</string>
            </dict>
            <key>title_side_orange_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,951},{11,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,15}}</string>
                <key>sourceSize</key>
                <string>{11,15}</string>
            </dict>
            <key>title_side_orange_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,22},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{13,19}</string>
            </dict>
            <key>title_side_orange_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,84},{12,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,21}}</string>
                <key>sourceSize</key>
                <string>{12,21}</string>
            </dict>
            <key>title_side_orange_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,968},{15,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,23}}</string>
                <key>sourceSize</key>
                <string>{15,23}</string>
            </dict>
            <key>title_side_orange_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,951},{26,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,23}}</string>
                <key>sourceSize</key>
                <string>{26,23}</string>
            </dict>
            <key>title_side_orange_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,273},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>title_side_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,951},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>title_side_purple_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,43},{13,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,17}}</string>
                <key>sourceSize</key>
                <string>{13,17}</string>
            </dict>
            <key>title_side_purple_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{19,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,14}}</string>
                <key>sourceSize</key>
                <string>{19,14}</string>
            </dict>
            <key>title_side_purple_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,62},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,20}}</string>
                <key>sourceSize</key>
                <string>{22,20}</string>
            </dict>
            <key>title_side_purple_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,246},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>title_side_purple_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,968},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>title_side_purple_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,149},{36,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,24}</string>
            </dict>
            <key>title_side_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,927},{26,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,20}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title_name.pvr.ccz</string>
            <key>size</key>
            <string>{384,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ac548a982d458800907e31279fa7c9a:69a135a83c46c84798ac4bb03278c954:d4dbd83fa45569f9381c613f38afedf9$</string>
            <key>textureFileName</key>
            <string>title_name.pvr.ccz</string>
        </dict>
    </dict>
</plist>
