<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>treasure_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,1},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>treasure_tips_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{604,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{604,74}}</string>
                <key>sourceSize</key>
                <string>{604,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>treasure_map.pvr.ccz</string>
            <key>size</key>
            <string>{662,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ddde13ce86cd59bc982a2565bd299a8:39bdcb64baf8bbb8bc2b3e2946b7ee4e:a20032c07c9883b6b43b9eb5b6f1ac59$</string>
            <key>textureFileName</key>
            <string>treasure_map.pvr.ccz</string>
        </dict>
    </dict>
</plist>
