<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat06_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,315},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
            <key>boat6-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,569},{290,224}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,99},{290,224}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat6-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1},{430,114}}</string>
                <key>offset</key>
                <string>{4,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,255},{430,114}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat6-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,433},{262,170}}</string>
                <key>offset</key>
                <string>{52,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,148},{262,170}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat6-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{360,312}}</string>
                <key>offset</key>
                <string>{29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,54},{360,312}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat6-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,315},{304,252}}</string>
                <key>offset</key>
                <string>{-46,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,117},{304,252}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>60.png</string>
            <key>size</key>
            <string>{478,794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bf011910f1e0042b4e992a1d01c4dbf:6d79bbc17b0d8ac2482877675eaa9fa8:7ebadc1952238bc389d89f5be3b18bbb$</string>
            <key>textureFileName</key>
            <string>60.png</string>
        </dict>
    </dict>
</plist>
