<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{116,112}}</string>
                <key>offset</key>
                <string>{-5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,168},{116,112}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>box_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1424},{228,202}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,89},{228,202}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>box_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{242,242}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,89},{242,242}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>box_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{258,258}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,81},{258,258}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>box_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{294,292}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,64},{294,292}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>box_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,306}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{310,306}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>box_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{310,286}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,61},{310,286}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>box0.png</string>
            <key>size</key>
            <string>{310,1742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f878119515278384889c7b1c7d72b785:1/1$</string>
            <key>textureFileName</key>
            <string>box0.png</string>
        </dict>
    </dict>
</plist>
