<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire/fire_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,1},{200,74}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,164},{200,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,1},{200,78}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,160},{200,78}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{202,82}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,156},{202,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{202,82}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,157},{202,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{202,82}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,156},{202,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,82}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,156},{202,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1},{200,82}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,156},{200,82}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>fire/fire_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1},{200,74}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,164},{200,74}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire0.png</string>
            <key>size</key>
            <string>{1624,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d214467c4299cf8744730168af0beeee:888c17c4d9413b0c18aace833777bb54:1186ca25c4ff462651302bf153318bcc$</string>
            <key>textureFileName</key>
            <string>fire0.png</string>
        </dict>
    </dict>
</plist>
