<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>screen_chuantixiubu/chuantixiubu_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,965},{480,98}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,172},{480,98}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1},{480,98}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,172},{480,98}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,483},{480,100}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,170},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1447},{480,100}}</string>
                <key>offset</key>
                <string>{0,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,170},{480,100}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,483},{480,102}}</string>
                <key>offset</key>
                <string>{0,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,168},{480,102}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{480,104}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,166},{480,104}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1447},{480,108}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,162},{480,108}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,483},{480,110}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,160},{480,110}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1447},{480,104}}</string>
                <key>offset</key>
                <string>{0,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,166},{480,104}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,965},{480,106}}</string>
                <key>offset</key>
                <string>{0,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,164},{480,106}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,965},{480,108}}</string>
                <key>offset</key>
                <string>{0,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,162},{480,108}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>screen_chuantixiubu/chuantixiubu_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,110}}</string>
                <key>offset</key>
                <string>{0,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,160},{480,110}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>screen_chuantixiubu0.png</string>
            <key>size</key>
            <string>{318,1928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:021afe5eb3c80b5230de8f64ff14ae3d:a490579674bc66b36603f44477c72f77:fb4de36d5255b3b6f8cc115ba5b6d406$</string>
            <key>textureFileName</key>
            <string>screen_chuantixiubu0.png</string>
        </dict>
    </dict>
</plist>
