<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huoyandan_fire/huoyandan_fire00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,1},{278,78}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{278,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,1},{278,80}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{278,80}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{280,78}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,22},{280,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1},{278,80}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,20},{278,80}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,1},{278,84}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{278,84}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,1},{278,88}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,12},{278,88}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,1},{278,84}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{278,84}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1},{278,82}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,18},{278,82}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{278,86}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{278,86}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1},{278,92}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{278,92}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1635,1},{278,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{278,76}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,1},{278,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{278,76}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{280,78}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,22},{280,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{280,74}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,26},{280,74}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,1},{278,74}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{278,74}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1},{280,72}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{280,72}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1},{278,74}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{278,74}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1713,1},{278,74}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,26},{278,74}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1},{278,78}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,22},{278,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1},{278,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{278,76}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1},{278,78}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{278,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,1},{278,76}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{278,76}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1},{278,78}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{278,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1941,1},{276,78}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{276,78}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
            <key>huoyandan_fire/huoyandan_fire00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1},{278,76}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{278,76}}</string>
                <key>sourceSize</key>
                <string>{300,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>screen_huoyandan0.png</string>
            <key>size</key>
            <string>{2020,282}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba58458ffecbe42126d82f9864b7686e:9a7ef7cb8667ac422e508af0063e7036:ef10452d7d0644449100ec04f709e59c$</string>
            <key>textureFileName</key>
            <string>screen_huoyandan0.png</string>
        </dict>
    </dict>
</plist>
