<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cardback.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,720},{200,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,272}}</string>
                <key>sourceSize</key>
                <string>{200,272}</string>
            </dict>
            <key>Cardfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,446},{200,272}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,272}}</string>
                <key>sourceSize</key>
                <string>{200,272}</string>
            </dict>
            <key>Cardfront_GreenEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,633},{243,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{243,314}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>Cardfront_OrangeEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1},{243,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{243,314}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>Cardfront_PurpleEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{243,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{243,314}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>Cardfront_blueEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{243,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{243,314}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
            <key>tx_huan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,317},{256,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,127}}</string>
                <key>sourceSize</key>
                <string>{256,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01330.png</string>
            <key>size</key>
            <string>{503,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff56f7556834c6c8f5033baba825d7ed:8cd4968639e544f3dd75866a4e69a8cc:26300debf391082ac329592e629ab26d$</string>
            <key>textureFileName</key>
            <string>tx_01330.png</string>
        </dict>
    </dict>
</plist>
