<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0156light/0156light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,251},{128,68}}</string>
                <key>offset</key>
                <string>{13,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{128,68}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,405},{112,104}}</string>
                <key>offset</key>
                <string>{27,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,12},{112,104}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,181},{68,132}}</string>
                <key>offset</key>
                <string>{51,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,13},{68,132}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,453},{38,128}}</string>
                <key>offset</key>
                <string>{66,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{137,57},{38,128}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,321},{82,124}}</string>
                <key>offset</key>
                <string>{44,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,92},{82,124}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,453},{126,40}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,177},{126,40}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,405},{94,118}}</string>
                <key>offset</key>
                <string>{-37,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,99},{94,118}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,453},{38,128}}</string>
                <key>offset</key>
                <string>{-64,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,61},{38,128}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,405},{60,134}}</string>
                <key>offset</key>
                <string>{-54,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{60,134}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light/0156light0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,405},{118,98}}</string>
                <key>offset</key>
                <string>{-21,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{118,98}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,1},{178,224}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,1},{178,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,181},{178,222}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{178,222}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,227},{178,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{178,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,227},{178,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1},{178,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,181},{178,222}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{178,222}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{178,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>0156light2/0156light20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{178,224}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01560.png</string>
            <key>size</key>
            <string>{1034,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d5dcda306ac4f19f33c41a656d7ca81:525e0ce5a8cea904d83de5ed470b37da:99c0dee67c8894aa7c7613763c717acd$</string>
            <key>textureFileName</key>
            <string>tx_01560.png</string>
        </dict>
    </dict>
</plist>
