<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hammer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{64,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,35}}</string>
                <key>sourceSize</key>
                <string>{64,35}</string>
            </dict>
            <key>ray008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{120,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00230.png</string>
            <key>size</key>
            <string>{122,167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8e152fc0bb36dbd6de4423de8738dfd:0fb3678b1df5d381efec58611278e917:7bc1ff8548227e674576611956f98f68$</string>
            <key>textureFileName</key>
            <string>tx_00230.png</string>
        </dict>
    </dict>
</plist>
