<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huan0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{75,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{75,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>huan0088_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,80},{70,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{70,69}}</string>
                <key>sourceSize</key>
                <string>{76,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00880.png</string>
            <key>size</key>
            <string>{77,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0971872b051f5df2bd7c4b54d9160e7:7acde36dda632afbc71c9a4c34c5394f:1c58a6ed77fc2bf655908fdcc071226a$</string>
            <key>textureFileName</key>
            <string>tx_00880.png</string>
        </dict>
    </dict>
</plist>
