<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0045/tx_0045002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{346,248}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,184},{346,248}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0045/tx_0045004.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,463},{424,322}}</string>
                <key>offset</key>
                <string>{2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,146},{424,322}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0045/tx_0045006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{444,348}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,136},{444,348}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0045/tx_0045008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{460,360}}</string>
                <key>offset</key>
                <string>{2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,128},{460,360}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0045/tx_0045010.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,1},{460,338}}</string>
                <key>offset</key>
                <string>{2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,126},{460,338}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00450.png</string>
            <key>size</key>
            <string>{802,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aacacbdf5d2ac36b3bf748c19d6e5e12:a287ac81e936909392d8d159fcb17e1b:a86471e0c38946a17f3446c7f9cc4476$</string>
            <key>textureFileName</key>
            <string>tx_00450.png</string>
        </dict>
    </dict>
</plist>
