<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0046/tx_0046001.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1},{76,60}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,323},{76,60}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0046/tx_0046002.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{166,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,323},{166,60}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0046/tx_0046003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{274,60}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,323},{274,60}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>tx_0046/tx_0046004.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1},{294,58}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,324},{294,58}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00460.png</string>
            <key>size</key>
            <string>{818,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af0f295322aef8daff930a7df403059b:a71795862b337dd6da830491e2572c3c:576cea0de0e7929d81d20e7cd7f0267d$</string>
            <key>textureFileName</key>
            <string>tx_00460.png</string>
        </dict>
    </dict>
</plist>
