<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0151/lightblue0151_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{142,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1},{140,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{140,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1},{136,142}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{136,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1},{134,142}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{134,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,1},{132,142}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{132,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1},{130,142}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{130,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1},{128,142}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{128,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,145},{108,142}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{108,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,145},{100,142}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,145},{88,134}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{88,134}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151/lightblue0151_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1},{60,130}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{60,130}}</string>
                <key>sourceSize</key>
                <string>{142,142}</string>
            </dict>
            <key>0151bluelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>smission/ui_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,145},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,145},{86,80}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{86,80}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,1},{72,66}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,14},{72,66}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>smission/ui_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,75},{52,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,21},{52,46}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>tx_0151_huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,133},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01510.png</string>
            <key>size</key>
            <string>{1288,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eea64a1477acff023e7f7c1d4fa943a:2b480ea3b4437ba16f729edef5b8364a:aceb7f728679cc829b32d8ec363565d8$</string>
            <key>textureFileName</key>
            <string>tx_01510.png</string>
        </dict>
    </dict>
</plist>
