<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0040blueline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,902},{234,647}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{234,647}}</string>
                <key>sourceSize</key>
                <string>{274,687}</string>
            </dict>
            <key>tx_0040card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{375,476}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,476}}</string>
                <key>sourceSize</key>
                <string>{375,476}</string>
            </dict>
            <key>tx_0040card2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,479},{322,421}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,421}}</string>
                <key>sourceSize</key>
                <string>{322,421}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00400.png</string>
            <key>size</key>
            <string>{377,1550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:495f4a372911f9881835a6774925ec5d:6e422c3737ce3a5b3439f637d1090312:e89159ec2cf0df4ac2260517a76f9f89$</string>
            <key>textureFileName</key>
            <string>tx_00400.png</string>
        </dict>
    </dict>
</plist>
