<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cardbiankuan/Cardbackorange_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,1},{128,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,331},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,331},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,331},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,168},{128,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,331},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,331},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,166},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackorange_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,166},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,1},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,1},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,166},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,166},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,1},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,166},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,168},{128,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{128,163}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
            <key>cardbiankuan/Cardbackpurple_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{128,165}}</string>
                <key>sourceSize</key>
                <string>{130,165}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01380.png</string>
            <key>size</key>
            <string>{910,495}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da9d0d30bd5856f1958c63d42d14f218:6b62f1990782116aee9d56bb31026326:eff080969cd4c1ea9de11504f9af8442$</string>
            <key>textureFileName</key>
            <string>tx_01380.png</string>
        </dict>
    </dict>
</plist>
