<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0180/1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,389},{40,100}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,46},{40,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,389},{50,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,46},{50,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,395},{70,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{70,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,403},{84,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,46},{84,100}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,403},{110,106}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,40},{110,106}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,395},{126,116}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{126,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,375},{148,136}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{148,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{162,152}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{162,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,181},{178,166}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{178,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,193},{194,166}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{194,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,349},{184,152}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{184,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,1},{178,166}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{178,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,193},{180,170}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{180,170}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1},{178,188}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{178,188}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1},{190,176}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{190,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{198,192}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,192}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_0180/1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,203},{190,186}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{190,186}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01800.png</string>
            <key>size</key>
            <string>{908,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b1844a95dee1c4b9814887739934750:2ba207c5bb9af3a03e26fad5abb6c853:117027ad1403152df38d6afb10a88ccd$</string>
            <key>textureFileName</key>
            <string>tx_01800.png</string>
        </dict>
    </dict>
</plist>
