<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Orangelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,175},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>VS.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,449},{108,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,97}}</string>
                <key>sourceSize</key>
                <string>{108,97}</string>
            </dict>
            <key>VS02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1},{183,172}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,53},{183,172}}</string>
                <key>sourceSize</key>
                <string>{213,284}</string>
            </dict>
            <key>shield.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,309},{102,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,138}}</string>
                <key>sourceSize</key>
                <string>{102,138}</string>
            </dict>
            <key>shieldlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{255,281}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,137},{255,281}}</string>
                <key>sourceSize</key>
                <string>{425,567}</string>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,175},{132,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,144}}</string>
                <key>sourceSize</key>
                <string>{132,144}</string>
            </dict>
            <key>vssranshao/burnVS_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,518},{128,122}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{128,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,388},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,388},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,309},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,258},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,439},{128,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,518},{122,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,567},{112,106}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{112,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>vssranshao/burnVS_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,567},{116,106}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00580.png</string>
            <key>size</key>
            <string>{494,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:045568afcc326466f3b89f10532d2082:f87497eb33124b5bce3e5fa2558f109a:2e392fc0f7c49a6b04f3fc29467c8036$</string>
            <key>textureFileName</key>
            <string>tx_00580.png</string>
        </dict>
    </dict>
</plist>
