<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx0115anniu/tx01150001.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150002.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150003.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,65},{129,62}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{129,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150004.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,65},{101,62}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{101,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150005.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,65},{85,62}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,3},{85,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150006.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,65},{113,62}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,3},{113,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,65},{131,62}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{131,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,65},{141,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{141,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150009.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150010.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1161,1},{143,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{143,60}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150012.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1159,63},{141,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{141,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,65},{133,62}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{133,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150015.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,65},{103,62}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{103,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150016.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,65},{83,62}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,3},{83,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150017.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,65},{115,62}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{115,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,1},{137,62}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{137,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,63},{141,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{141,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150020.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{143,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,62}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
            <key>tx0115anniu/tx01150022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1},{143,60}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{143,60}}</string>
                <key>sourceSize</key>
                <string>{153,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01150.png</string>
            <key>size</key>
            <string>{1444,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af8102ef46b7e3b39b95641fbbd7ad9:35115cf5d4127be2d7a24f6044cd40c4:23ab4f04c017f143c0ac2f0c0bc4d912$</string>
            <key>textureFileName</key>
            <string>tx_01150.png</string>
        </dict>
    </dict>
</plist>
