<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0184di.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{960,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,80}}</string>
                <key>sourceSize</key>
                <string>{960,80}</string>
            </dict>
            <key>0184effect/flare05_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,83},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>0184effect/flare2b_zergpickup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,240}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>0184effect/tx_lz_wupinchuxianline.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,149},{225,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,54}}</string>
                <key>sourceSize</key>
                <string>{225,54}</string>
            </dict>
            <key>0184effect/tx_lz_wupinchuxianred_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,205},{242,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,32}}</string>
                <key>sourceSize</key>
                <string>{242,32}</string>
            </dict>
            <key>0184effect/tx_lz_wupinchuxianthreeline.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,83},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{120,42}}</string>
                <key>sourceSize</key>
                <string>{120,60}</string>
            </dict>
            <key>battle_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,83},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,83},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,62}</string>
            </dict>
            <key>chuanpo_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,83},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>shuzhi_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,83},{272,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,47}}</string>
                <key>sourceSize</key>
                <string>{272,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01840.png</string>
            <key>size</key>
            <string>{1220,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf7d86963f9973177b82dbba0147001:5b80bc7f86fd6d1dd1931b6633def5c9:8bdd4c5b1f1c26cf243ae1061ff8c0fb$</string>
            <key>textureFileName</key>
            <string>tx_01840.png</string>
        </dict>
    </dict>
</plist>
