<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx0081shuaguang/tx0080shuaguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1569},{84,70}}</string>
                <key>offset</key>
                <string>{-81,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{84,70}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1569},{134,76}}</string>
                <key>offset</key>
                <string>{-58,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{134,76}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1383},{184,78}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{184,78}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,727},{224,78}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{224,78}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{246,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{246,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{248,80}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{248,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{248,80}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{248,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,251},{238,80}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{238,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,491},{236,80}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{236,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,499},{226,80}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,3},{226,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{216,80}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,3},{216,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1171},{210,80}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,3},{210,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,729},{186,80}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,3},{186,80}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,917},{166,78}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,5},{166,78}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1085},{146,78}}</string>
                <key>offset</key>
                <string>{52,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,5},{146,78}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1233},{140,78}}</string>
                <key>offset</key>
                <string>{55,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,5},{140,78}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1383},{114,74}}</string>
                <key>offset</key>
                <string>{68,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,9},{114,74}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1499},{68,72}}</string>
                <key>offset</key>
                <string>{66,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,10},{68,72}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
            <key>tx0081shuaguang/tx0080shuaguang_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1641},{54,64}}</string>
                <key>offset</key>
                <string>{74,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,9},{54,64}}</string>
                <key>sourceSize</key>
                <string>{250,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00810.png</string>
            <key>size</key>
            <string>{164,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c4260deb64cda957681b851852129c3:8cad73eaccc3e352600831c79be14a7f:cc6bf26d009fdc97164201729456b579$</string>
            <key>textureFileName</key>
            <string>tx_00810.png</string>
        </dict>
    </dict>
</plist>
