<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0188/tx_0188_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,691},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{76,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{76,76}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{78,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{78,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{78,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,457},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,379},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_0188/tx_0188_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,301},{76,76}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01880.png</string>
            <key>size</key>
            <string>{80,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60f73b1f0bcd3603f9570671a45ae583:0153fda9d1e423dfc7eef91f4252bd0f:8ef3a9d1c7626e019a316d4f92201dd2$</string>
            <key>textureFileName</key>
            <string>tx_01880.png</string>
        </dict>
    </dict>
</plist>
