<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bird02/bird020001.png</key>
			<dict>
				<key>width</key>
				<integer>98</integer>
				<key>height</key>
				<integer>50</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>435</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>bird02/bird020002.png</key>
			<dict>
				<key>width</key>
				<integer>116</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>50</integer>
				<key>offsetX</key>
				<real>425</real>
				<key>offsetY</key>
				<real>48</real>
			</dict>
			<key>bird02/bird020003.png</key>
			<dict>
				<key>width</key>
				<integer>111</integer>
				<key>height</key>
				<integer>60</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>116</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>408.5</real>
				<key>offsetY</key>
				<real>46</real>
			</dict>
			<key>bird02/bird020004.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>64</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>102</integer>
				<key>offsetX</key>
				<real>408</real>
				<key>offsetY</key>
				<real>57</real>
			</dict>
			<key>bird02/bird020005.png</key>
			<dict>
				<key>width</key>
				<integer>152</integer>
				<key>height</key>
				<integer>66</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>166</integer>
				<key>offsetX</key>
				<real>389</real>
				<key>offsetY</key>
				<real>51</real>
			</dict>
			<key>bird02/bird020006.png</key>
			<dict>
				<key>width</key>
				<integer>197</integer>
				<key>height</key>
				<integer>58</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>227</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>385.5</real>
				<key>offsetY</key>
				<real>56</real>
			</dict>
			<key>bird02/bird020007.png</key>
			<dict>
				<key>width</key>
				<integer>220</integer>
				<key>height</key>
				<integer>63</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>60</integer>
				<key>offsetX</key>
				<real>374</real>
				<key>offsetY</key>
				<real>60.5</real>
			</dict>
			<key>bird02/bird020008.png</key>
			<dict>
				<key>width</key>
				<integer>237</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>152</integer>
				<key>y</key>
				<integer>123</integer>
				<key>offsetX</key>
				<real>365.5</real>
				<key>offsetY</key>
				<real>71</real>
			</dict>
			<key>bird02/bird020009.png</key>
			<dict>
				<key>width</key>
				<integer>261</integer>
				<key>height</key>
				<integer>99</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>232</integer>
				<key>offsetX</key>
				<real>353.5</real>
				<key>offsetY</key>
				<real>81.5</real>
			</dict>
			<key>bird02/bird020010.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>111</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>331</integer>
				<key>offsetX</key>
				<real>341</real>
				<key>offsetY</key>
				<real>79.5</real>
			</dict>
			<key>bird02/bird020011.png</key>
			<dict>
				<key>width</key>
				<integer>319</integer>
				<key>height</key>
				<integer>115</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>424</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>324.5</real>
				<key>offsetY</key>
				<real>92.5</real>
			</dict>
			<key>bird02/bird020012.png</key>
			<dict>
				<key>width</key>
				<integer>337</integer>
				<key>height</key>
				<integer>114</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>389</integer>
				<key>y</key>
				<integer>115</integer>
				<key>offsetX</key>
				<real>306.5</real>
				<key>offsetY</key>
				<real>95</real>
			</dict>
			<key>bird02/bird020013.png</key>
			<dict>
				<key>width</key>
				<integer>358</integer>
				<key>height</key>
				<integer>157</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>295</real>
				<key>offsetY</key>
				<real>107.5</real>
			</dict>
			<key>bird02/bird020014.png</key>
			<dict>
				<key>width</key>
				<integer>377</integer>
				<key>height</key>
				<integer>137</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>229</integer>
				<key>offsetX</key>
				<real>273.5</real>
				<key>offsetY</key>
				<real>110.5</real>
			</dict>
			<key>bird02/bird020015.png</key>
			<dict>
				<key>width</key>
				<integer>434</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>442</integer>
				<key>offsetX</key>
				<real>267</real>
				<key>offsetY</key>
				<real>113.5</real>
			</dict>
			<key>bird02/bird020016.png</key>
			<dict>
				<key>width</key>
				<integer>478</integer>
				<key>height</key>
				<integer>161</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>603</integer>
				<key>offsetX</key>
				<real>245</real>
				<key>offsetY</key>
				<real>128.5</real>
			</dict>
			<key>bird02/bird020017.png</key>
			<dict>
				<key>width</key>
				<integer>508</integer>
				<key>height</key>
				<integer>166</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>764</integer>
				<key>offsetX</key>
				<real>230</real>
				<key>offsetY</key>
				<real>134</real>
			</dict>
			<key>bird02/bird020018.png</key>
			<dict>
				<key>width</key>
				<integer>560</integer>
				<key>height</key>
				<integer>230</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>644</integer>
				<key>y</key>
				<integer>366</integer>
				<key>offsetX</key>
				<real>204</real>
				<key>offsetY</key>
				<real>157</real>
			</dict>
			<key>bird02/bird020019.png</key>
			<dict>
				<key>width</key>
				<integer>611</integer>
				<key>height</key>
				<integer>211</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>743</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>178.5</real>
				<key>offsetY</key>
				<real>163.5</real>
			</dict>
			<key>bird02/bird020020.png</key>
			<dict>
				<key>width</key>
				<integer>673</integer>
				<key>height</key>
				<integer>224</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>596</integer>
				<key>offsetX</key>
				<real>147.5</real>
				<key>offsetY</key>
				<real>160</real>
			</dict>
			<key>bird02/bird020021.png</key>
			<dict>
				<key>width</key>
				<integer>746</integer>
				<key>height</key>
				<integer>204</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>508</integer>
				<key>y</key>
				<integer>820</integer>
				<key>offsetX</key>
				<real>110</real>
				<key>offsetY</key>
				<real>170</real>
			</dict>
			<key>bird02/bird020022.png</key>
			<dict>
				<key>width</key>
				<integer>829</integer>
				<key>height</key>
				<integer>200</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>1204</integer>
				<key>y</key>
				<integer>211</integer>
				<key>offsetX</key>
				<real>69.5</real>
				<key>offsetY</key>
				<real>172</real>
			</dict>
			<key>bird02/bird020023.png</key>
			<dict>
				<key>width</key>
				<integer>821</integer>
				<key>height</key>
				<integer>193</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>1204</integer>
				<key>y</key>
				<integer>411</integer>
				<key>offsetX</key>
				<real>-38.5</real>
				<key>offsetY</key>
				<real>158.5</real>
			</dict>
			<key>bird02/bird020024.png</key>
			<dict>
				<key>width</key>
				<integer>837</integer>
				<key>height</key>
				<integer>187</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>1181</integer>
				<key>y</key>
				<integer>604</integer>
				<key>offsetX</key>
				<real>-65.5</real>
				<key>offsetY</key>
				<real>178.5</real>
			</dict>
			<key>bird02/bird020025.png</key>
			<dict>
				<key>width</key>
				<integer>828</integer>
				<key>height</key>
				<integer>199</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>-70</real>
				<key>offsetY</key>
				<real>172.5</real>
			</dict>
			<key>bird02/bird020026.png</key>
			<dict>
				<key>width</key>
				<integer>794</integer>
				<key>height</key>
				<integer>171</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1223</integer>
				<key>offsetX</key>
				<real>-87</real>
				<key>offsetY</key>
				<real>186.5</real>
			</dict>
			<key>bird02/bird020027.png</key>
			<dict>
				<key>width</key>
				<integer>502</integer>
				<key>height</key>
				<integer>167</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>1354</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>40</real>
				<key>offsetY</key>
				<real>188.5</real>
			</dict>
			<key>bird02/bird020028.png</key>
			<dict>
				<key>width</key>
				<integer>300</integer>
				<key>height</key>
				<integer>139</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1394</integer>
				<key>offsetX</key>
				<real>139</real>
				<key>offsetY</key>
				<real>195.5</real>
			</dict>
			<key>bird02/bird020029.png</key>
			<dict>
				<key>width</key>
				<integer>287</integer>
				<key>height</key>
				<integer>138</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1533</integer>
				<key>offsetX</key>
				<real>93.5</real>
				<key>offsetY</key>
				<real>203</real>
			</dict>
			<key>bird02/bird020030.png</key>
			<dict>
				<key>width</key>
				<integer>325</integer>
				<key>height</key>
				<integer>143</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1671</integer>
				<key>offsetX</key>
				<real>76.5</real>
				<key>offsetY</key>
				<real>200.5</real>
			</dict>
			<key>bird02/bird020031.png</key>
			<dict>
				<key>width</key>
				<integer>326</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>1394</integer>
				<key>offsetX</key>
				<real>29</real>
				<key>offsetY</key>
				<real>213</real>
			</dict>
			<key>bird02/bird020032.png</key>
			<dict>
				<key>width</key>
				<integer>370</integer>
				<key>height</key>
				<integer>122</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>300</integer>
				<key>y</key>
				<integer>1512</integer>
				<key>offsetX</key>
				<real>-25</real>
				<key>offsetY</key>
				<real>211</real>
			</dict>
			<key>bird02/bird020033.png</key>
			<dict>
				<key>width</key>
				<integer>223</integer>
				<key>height</key>
				<integer>91</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>930</integer>
				<key>offsetX</key>
				<real>13.5</real>
				<key>offsetY</key>
				<real>226.5</real>
			</dict>
			<key>bird02/bird020034.png</key>
			<dict>
				<key>width</key>
				<integer>231</integer>
				<key>height</key>
				<integer>74</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>223</integer>
				<key>y</key>
				<integer>930</integer>
				<key>offsetX</key>
				<real>-39.5</real>
				<key>offsetY</key>
				<real>235</real>
			</dict>
			<key>bird02/bird020035.png</key>
			<dict>
				<key>width</key>
				<integer>218</integer>
				<key>height</key>
				<integer>76</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1814</integer>
				<key>offsetX</key>
				<real>-112</real>
				<key>offsetY</key>
				<real>234</real>
			</dict>
			<key>bird02/bird020036.png</key>
			<dict>
				<key>width</key>
				<integer>59</integer>
				<key>height</key>
				<integer>31</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>286</integer>
				<key>y</key>
				<integer>386</integer>
				<key>offsetX</key>
				<real>-297.5</real>
				<key>offsetY</key>
				<real>256.5</real>
			</dict>
			<key>bird02/bird020037.png</key>
			<dict>
				<key>width</key>
				<integer>16</integer>
				<key>height</key>
				<integer>30</integer>
				<key>originalWidth</key>
				<integer>968</integer>
				<key>originalHeight</key>
				<integer>544</integer>
				<key>x</key>
				<integer>98</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>-387</real>
				<key>offsetY</key>
				<real>257</real>
			</dict>
			<key>bird01/bird010001.png</key>
			<dict>
				<key>width</key>
				<integer>342</integer>
				<key>height</key>
				<integer>98</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>828</integer>
				<key>y</key>
				<integer>1024</integer>
				<key>offsetX</key>
				<real>5</real>
				<key>offsetY</key>
				<real>-6</real>
			</dict>
			<key>bird01/bird010002.png</key>
			<dict>
				<key>width</key>
				<integer>338</integer>
				<key>height</key>
				<integer>96</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>1890</integer>
				<key>offsetX</key>
				<real>4</real>
				<key>offsetY</key>
				<real>6</real>
			</dict>
			<key>bird01/bird010003.png</key>
			<dict>
				<key>width</key>
				<integer>333</integer>
				<key>height</key>
				<integer>83</integer>
				<key>originalWidth</key>
				<integer>400</integer>
				<key>originalHeight</key>
				<integer>200</integer>
				<key>x</key>
				<integer>828</integer>
				<key>y</key>
				<integer>1122</integer>
				<key>offsetX</key>
				<real>1.5</real>
				<key>offsetY</key>
				<real>-0.5</real>
			</dict>
			<key>tx_0035sunshine.png</key>
			<dict>
				<key>width</key>
				<integer>723</integer>
				<key>height</key>
				<integer>163</integer>
				<key>originalWidth</key>
				<integer>734</integer>
				<key>originalHeight</key>
				<integer>219</integer>
				<key>x</key>
				<integer>325</integer>
				<key>y</key>
				<integer>1634</integer>
				<key>offsetX</key>
				<real>-5.5</real>
				<key>offsetY</key>
				<real>1</real>
			</dict>
			<key>tx_0035sunshine02.png</key>
			<dict>
				<key>width</key>
				<integer>256</integer>
				<key>height</key>
				<integer>256</integer>
				<key>originalWidth</key>
				<integer>256</integer>
				<key>originalHeight</key>
				<integer>256</integer>
				<key>x</key>
				<integer>794</integer>
				<key>y</key>
				<integer>1223</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>tx_0035other0.png</string>
			<key>realTextureFileName</key>
			<string>tx_0035other0.png</string>
			<key>size</key>
			<string>{16384,16384}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>16384</integer>
			<key>height</key>
			<integer>16384</integer>
		</dict>
	</dict>
</plist>