<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0051/tx_0051001.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{38,38}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,139},{38,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_0051/tx_0051002.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,1},{102,100}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,110},{102,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_0051/tx_0051003.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{108,106}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{108,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_0051/tx_0051004.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1},{108,106}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{108,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_0051/tx_0051005.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1},{108,106}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{108,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_0051/tx_0051006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{108,106}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,107},{108,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_0051/tx_0051007.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,1},{102,100}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,110},{102,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00510.png</string>
            <key>size</key>
            <string>{684,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:890b81b740138382a06cd61941c0437e:cc57cb06c8d0ed0be6b3d6539e9c7b6d:c163d70cfae278368cf51b306720d7a6$</string>
            <key>textureFileName</key>
            <string>tx_00510.png</string>
        </dict>
    </dict>
</plist>
