<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_btn_top_ani.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>main_task_tips_ani.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,50}}</string>
                <key>sourceSize</key>
                <string>{124,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01910.png</string>
            <key>size</key>
            <string>{176,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e49df5171981382e8f0a0311e5341295:94402908fb8829cc58696f3a897890a6:8858b947e509b92e5275e6e7066b1fd9$</string>
            <key>textureFileName</key>
            <string>tx_01910.png</string>
        </dict>
    </dict>
</plist>
