<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0146light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,257},{60,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{60,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,191},{60,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{60,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,509},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{62,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,451},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,387},{60,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,323},{60,62}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,707},{62,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{62,60}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,515},{62,60}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,60}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,701},{62,62}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,643},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,637},{62,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,253},{64,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{64,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{64,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,9},{64,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,125},{64,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,579},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,573},{62,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{62,62}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,445},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,381},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,317},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{62,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>0146light0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,125},{60,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,64}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>san_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,122}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01450.png</string>
            <key>size</key>
            <string>{128,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5d77786eb9418ef31040839c00dbfe6:2880a0b1b3721038a6605a3fb9515f7e:4aaa3d53ccd0c222553bdd2f38feb32c$</string>
            <key>textureFileName</key>
            <string>tx_01450.png</string>
        </dict>
    </dict>
</plist>
