<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{275,171}}</string>
                <key>offset</key>
                <string>{-17,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,97},{275,171}}</string>
                <key>sourceSize</key>
                <string>{587,353}</string>
            </dict>
            <key>co_bottle_water222.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,282},{283,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,27}}</string>
                <key>sourceSize</key>
                <string>{283,27}</string>
            </dict>
            <key>thunder/shandian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{100,215}}</string>
                <key>offset</key>
                <string>{-65,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,66},{100,215}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,290},{90,249}}</string>
                <key>offset</key>
                <string>{-72,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,63},{90,249}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,310},{230,283}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{230,283}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,310},{216,317}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{216,317}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{258,307}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{258,307}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{264,287}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{264,287}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{250,279}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{250,279}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,567},{94,149}}</string>
                <key>offset</key>
                <string>{63,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,54},{94,149}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,541},{88,143}}</string>
                <key>offset</key>
                <string>{61,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,58},{88,143}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>wave01/shuihua1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,278},{227,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{227,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,550},{223,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,649},{227,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{227,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,610},{225,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{225,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,550},{223,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,705},{223,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,666},{225,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{225,52}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,595},{229,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{229,52}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,720},{227,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{227,52}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,554},{225,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{225,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave02/shuihua2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,282},{268,45}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,42},{268,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,282},{270,45}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,278},{268,43}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{268,43}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,278},{268,43}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{268,43}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,282},{270,45}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,282},{270,45}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,278},{270,41}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,46},{270,41}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,282},{270,43}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{270,43}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1},{270,47}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,40},{270,47}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,731},{270,45}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00270.png</string>
            <key>size</key>
            <string>{1008,777}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59b78fabfc8cadeac0333fac7e19f939:35438b5fc9bbaf0f1c550e42232902d1:4fee1ff3cdd0a3ed8028d05fc9ad8fd6$</string>
            <key>textureFileName</key>
            <string>tx_00270.png</string>
        </dict>
    </dict>
</plist>
