<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4010-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,493},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>RingGlowWhite9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>gun_shockwaveline02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,257},{242,234}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{242,234}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00720.png</string>
            <key>size</key>
            <string>{256,620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:924ec60f1ceffc33aa05f4ebdd92f1c4:2cff90d46215e191d324034a77e33fe8:0fd19be4c8b19c5684d58d1de6e67c67$</string>
            <key>textureFileName</key>
            <string>tx_00720.png</string>
        </dict>
    </dict>
</plist>
