<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cankao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{47,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{47,50}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>cheng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,53},{28,28}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{28,28}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>cheng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,101},{24,26}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{24,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{28,46}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{28,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tiancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{36,26}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{36,26}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tianchengtou.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,83},{16,18}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01220.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7db26c40184b543c35275a955101aec9:4d51c08d796f8f1f895111b801daf74b:08f7ab02c1d7faab5d77c1a2a6b39c30$</string>
            <key>textureFileName</key>
            <string>tx_01220.png</string>
        </dict>
    </dict>
</plist>
