<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0168Orangelight.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1},{128,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{128,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{163,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,136}}</string>
                <key>sourceSize</key>
                <string>{163,136}</string>
            </dict>
            <key>sidai.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,89},{297,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,51}}</string>
                <key>sourceSize</key>
                <string>{297,51}</string>
            </dict>
            <key>wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1},{321,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,86}}</string>
                <key>sourceSize</key>
                <string>{321,86}</string>
            </dict>
            <key>wing_[light]_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1},{346,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{346,135}}</string>
                <key>sourceSize</key>
                <string>{360,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01680.png</string>
            <key>size</key>
            <string>{894,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:636c30b9b88d69d8a9051833dc92496b:ea34dcc8dd5388765a48dc52a88ea732:f854d754c88fb6601e70ebc856e4d691$</string>
            <key>textureFileName</key>
            <string>tx_01680.png</string>
        </dict>
    </dict>
</plist>
