<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanshu/fanye_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{746,394}}</string>
                <key>offset</key>
                <string>{75,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,62},{746,394}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{748,394}}</string>
                <key>offset</key>
                <string>{74,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,63},{748,394}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,793},{724,398}}</string>
                <key>offset</key>
                <string>{86,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,59},{724,398}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1193},{644,412}}</string>
                <key>offset</key>
                <string>{126,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,45},{644,412}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1607},{566,430}}</string>
                <key>offset</key>
                <string>{165,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,27},{566,430}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,1},{490,446}}</string>
                <key>offset</key>
                <string>{203,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,11},{490,446}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,895},{416,458}}</string>
                <key>offset</key>
                <string>{240,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{520,0},{416,458}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,1313},{382,458}}</string>
                <key>offset</key>
                <string>{297,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{594,0},{382,458}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1697},{308,458}}</string>
                <key>offset</key>
                <string>{334,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{668,0},{308,458}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,493},{236,448}}</string>
                <key>offset</key>
                <string>{370,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{740,8},{236,448}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,731},{162,432}}</string>
                <key>offset</key>
                <string>{407,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{814,24},{162,432}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,1607},{90,418}}</string>
                <key>offset</key>
                <string>{443,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{886,38},{90,418}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1193},{74,412}}</string>
                <key>offset</key>
                <string>{451,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{902,43},{74,412}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
            <key>fanshu/fanye_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1607},{56,406}}</string>
                <key>offset</key>
                <string>{460,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{920,46},{56,406}}</string>
                <key>sourceSize</key>
                <string>{976,568}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01850.png</string>
            <key>size</key>
            <string>{1198,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4a7b30cddc1868fdde61240f0fd36c3:c0bea8537f0681a0cd8fceec32c2189b:72c8e0e8d01debbe669002ab20369e51$</string>
            <key>textureFileName</key>
            <string>tx_01850.png</string>
        </dict>
    </dict>
</plist>
