<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx0008/0008ui.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{356,262}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{356,262}}</string>
                <key>sourceSize</key>
                <string>{364,264}</string>
            </dict>
            <key>tx0008/dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,265},{151,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,189}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
            <key>tx0008/dao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{151,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,189}}</string>
                <key>sourceSize</key>
                <string>{151,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00080.png</string>
            <key>size</key>
            <string>{358,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4dbc2314ca3be71f2bd7b4a675923dd0:26a30fe6a71e8f5988d10214b664fdb4:f6c7a346cfd17b29a352a94f46e15761$</string>
            <key>textureFileName</key>
            <string>tx_00080.png</string>
        </dict>
    </dict>
</plist>
