<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{70,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>boat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>boat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>boat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{70,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{70,66}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01310.png</string>
            <key>size</key>
            <string>{272,72}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cc396a67c0f811469d4893293dba6b1:58b72fdcc53767a68bccc9b38707150f:466da88f31ccffdbc7afa7799f4b0738$</string>
            <key>textureFileName</key>
            <string>tx_01310.png</string>
        </dict>
    </dict>
</plist>
