<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0035sunshine.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{724,163}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{724,163}}</string>
                <key>sourceSize</key>
                <string>{734,219}</string>
            </dict>
            <key>tx_0035sunshine02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_0035_guangyun0.png</string>
            <key>size</key>
            <string>{984,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e2ebfece3399acca769ce880f448b1:54ab94b686a4f6400b273472bce60fce:821b36be8c60e5604939bfee31a5149a$</string>
            <key>textureFileName</key>
            <string>tx_0035_guangyun0.png</string>
        </dict>
    </dict>
</plist>
