<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>touzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,93},{14,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,13}}</string>
                <key>sourceSize</key>
                <string>{14,13}</string>
            </dict>
            <key>touzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,93},{16,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,15}}</string>
                <key>sourceSize</key>
                <string>{16,15}</string>
            </dict>
            <key>tx_0123/beizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,51},{39,46}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{39,46}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>tx_0123/beizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,47},{41,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{41,44}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>tx_0123/beizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1},{41,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{41,44}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
            <key>tx_0123/beizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{39,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{39,48}}</string>
                <key>sourceSize</key>
                <string>{51,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01230.png</string>
            <key>size</key>
            <string>{84,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1ced026738afe426af326a4037f0e72:a06826b16196e238e8ba6196bc367604:7670736e5da3bea95e52a81672f11f27$</string>
            <key>textureFileName</key>
            <string>tx_01230.png</string>
        </dict>
    </dict>
</plist>
