<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0047/tx_0047001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{86,40}}</string>
                <key>offset</key>
                <string>{28,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,111},{86,40}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_0047/tx_0047002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{108,54}}</string>
                <key>offset</key>
                <string>{14,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,91},{108,54}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_0047/tx_0047003.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1},{92,42}}</string>
                <key>offset</key>
                <string>{1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,84},{92,42}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00470.png</string>
            <key>size</key>
            <string>{292,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1fe00a16f7dd32c684bb4e2180bd2b0:255658caf621a596ff052f898e12d57f:9e6ddcc97560d84055a49abce61106ac$</string>
            <key>textureFileName</key>
            <string>tx_00470.png</string>
        </dict>
    </dict>
</plist>
