<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cardfront_whiteEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{243,314}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{243,314}}</string>
                <key>sourceSize</key>
                <string>{257,350}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01530.png</string>
            <key>size</key>
            <string>{245,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec4fe6f4775796177c1602dc88e7abe:c7d556260ef3621168962e7edb356838:fd064d5925159cc3e442027776999d38$</string>
            <key>textureFileName</key>
            <string>tx_01530.png</string>
        </dict>
    </dict>
</plist>
