<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0053boat.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1},{42,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,13},{42,36}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>tx_0053light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00530.png</string>
            <key>size</key>
            <string>{106,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45af6a5f4ef12b6fb5134a121da4757a:1f0c969ede7c64a7fff4d60c7ce6c176:9350e45de0284f8fda61ec2d638ba311$</string>
            <key>textureFileName</key>
            <string>tx_00530.png</string>
        </dict>
    </dict>
</plist>
