<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,66}</string>
            </dict>
            <key>商城2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{52,56}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01280.png</string>
            <key>size</key>
            <string>{54,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1302c0ba826faf7378f40bb9943a2d:f38f036e64c06dcd4a3196621a779378:0e5a841551adbab432b65f00b6146d2f$</string>
            <key>textureFileName</key>
            <string>tx_01280.png</string>
        </dict>
    </dict>
</plist>
