<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{78,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,66}}</string>
                <key>sourceSize</key>
                <string>{78,66}</string>
            </dict>
            <key>win-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{36,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,66}}</string>
                <key>sourceSize</key>
                <string>{36,66}</string>
            </dict>
            <key>win-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{48,50}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00210.png</string>
            <key>size</key>
            <string>{118,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a44b891849f112f379f88b73ed3a09e6:41343cf17ca618bfc93db0afe07d1159:e4503fbfa86d5fcbfa570c12c4604db8$</string>
            <key>textureFileName</key>
            <string>tx_00210.png</string>
        </dict>
    </dict>
</plist>
