<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0129/tx_0129001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,645},{66,64}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,41},{66,64}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{80,90}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{80,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,407},{82,94}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,14},{82,94}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,124}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{110,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{96,106}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{96,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,225},{94,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{94,102}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{84,100}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,11},{84,100}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0129/tx_0129015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,573},{70,86}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{70,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01290.png</string>
            <key>size</key>
            <string>{112,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c602578163bb0a1ab3093e421609204:bbe4789ea291c55348370d728796125d:0c38da4be2489cae96d01c468ae134ae$</string>
            <key>textureFileName</key>
            <string>tx_01290.png</string>
        </dict>
    </dict>
</plist>
