<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_0126/tx_0126001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,713},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,655},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,481},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,423},{62,56}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,47},{62,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,353},{72,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,39},{72,68}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,275},{80,76}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,35},{80,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,191},{86,82}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{86,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,101},{92,88}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{92,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_0126/tx_0126012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,92}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,26},{98,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_01260.png</string>
            <key>size</key>
            <string>{94,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a119cd2a6a1d009c322017fee2daeeff:1211a853a5c64e273846563b35b8cda3:cc84ca6cfdef2972abcf822dcd6f217e$</string>
            <key>textureFileName</key>
            <string>tx_01260.png</string>
        </dict>
    </dict>
</plist>
