<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud/wuyun_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,290},{316,98}}</string>
                <key>offset</key>
                <string>{-27,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,110},{316,98}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
            <key>cloud/wuyun_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,310},{316,98}}</string>
                <key>offset</key>
                <string>{-25,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,110},{316,98}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
            <key>cloud/wuyun_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,610},{318,94}}</string>
                <key>offset</key>
                <string>{-26,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,110},{318,94}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
            <key>cloud/wuyun_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,628},{318,94}}</string>
                <key>offset</key>
                <string>{-26,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,110},{318,94}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
            <key>cloud/wuyun_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,290},{318,96}}</string>
                <key>offset</key>
                <string>{-26,92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,110},{318,96}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
            <key>cloud/wuyun_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,1},{316,98}}</string>
                <key>offset</key>
                <string>{-27,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,110},{316,98}}</string>
                <key>sourceSize</key>
                <string>{916,500}</string>
            </dict>
            <key>rain/rain0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,948},{97,37}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{97,37}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>rain/rain0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,979},{107,35}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{107,35}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>rain/rain0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,824},{111,49}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{111,49}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>rain/rain0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,543},{105,45}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{105,45}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>rain/rain0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,948},{105,39}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{105,39}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>rain/rain0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,650},{101,45}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,19},{101,45}}</string>
                <key>sourceSize</key>
                <string>{143,91}</string>
            </dict>
            <key>thunder/shandian_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,914},{100,215}}</string>
                <key>offset</key>
                <string>{-65,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,66},{100,215}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,608},{90,249}}</string>
                <key>offset</key>
                <string>{-72,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,63},{90,249}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,629},{230,283}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,57},{230,283}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,310},{216,317}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,55},{216,317}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{258,307}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{258,307}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{264,287}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{264,287}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{250,279}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,55},{250,279}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,859},{94,149}}</string>
                <key>offset</key>
                <string>{63,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,54},{94,149}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>thunder/shandian_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,834},{88,143}}</string>
                <key>offset</key>
                <string>{61,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,58},{88,143}}</string>
                <key>sourceSize</key>
                <string>{288,377}</string>
            </dict>
            <key>wave01/shuihua1_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,319},{227,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{227,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,775},{223,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,319},{227,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{227,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,783},{225,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{225,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,775},{223,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,785},{223,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{223,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,548},{225,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{225,52}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,554},{229,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{229,52}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,554},{227,52}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{227,52}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave01/shuihua1_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,548},{225,54}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{225,54}}</string>
                <key>sourceSize</key>
                <string>{243,54}</string>
            </dict>
            <key>wave02/shuihua2_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,282},{268,45}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,42},{268,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,554},{270,45}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,554},{268,43}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{268,43}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,273},{268,43}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{268,43}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,282},{270,45}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,562},{270,45}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{707,282},{270,41}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,46},{270,41}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1},{270,43}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,44},{270,43}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,282},{270,47}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,40},{270,47}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
            <key>wave02/shuihua2_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,290},{270,45}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,42},{270,45}}</string>
                <key>sourceSize</key>
                <string>{568,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_00260.png</string>
            <key>size</key>
            <string>{923,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6230db7255a2d0fd9689e4d529306189:3489ba2dafce36af73f66c93fdb00d3d:30df07eeb7991054011163b61a585fbe$</string>
            <key>textureFileName</key>
            <string>tx_00260.png</string>
        </dict>
    </dict>
</plist>
