<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,169},{42,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{42,40}</string>
            </dict>
            <key>diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,129},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,38}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>dianyellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>honour.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,177},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>power.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,129},{46,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{46,32}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>yellowline.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,129},{38,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,128}}</string>
                <key>sourceSize</key>
                <string>{38,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_1010to10130.png</string>
            <key>size</key>
            <string>{128,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fe526ce2300b2c3033fb300e037d162:1aba394fc84bc07eea2a644b1473c210:078e379b4cda34e780ddbdd27a0db35e$</string>
            <key>textureFileName</key>
            <string>tx_1010to10130.png</string>
        </dict>
    </dict>
</plist>
