<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aanni_effect_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,154},{90,90}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,15},{90,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>banni_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,2},{104,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{104,104}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>canni_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,184},{180,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,52}}</string>
                <key>sourceSize</key>
                <string>{180,52}</string>
            </dict>
            <key>danni_effect_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,168},{109,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,72}}</string>
                <key>sourceSize</key>
                <string>{109,72}</string>
            </dict>
            <key>effect_gfae_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,168},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>effect_jiangli_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,250}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{226,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>effect_shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,184},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{62,92}</string>
            </dict>
            <key>effect_shuishou1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,184},{150,52}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,74},{150,52}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>effect_ssbj_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>effect_touxiangjianmian_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{124,144}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,52},{124,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>touzi_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,148},{106,106}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_1042nage/effect_zhiyina1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_1042nage/effect_zhiyina2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,46},{164,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_1042nage/effect_zhiyina3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{180,180}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_1014testanniu0.png</string>
            <key>size</key>
            <string>{1144,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cf1ab18f4850ec62812d8617b8658aa:1/1$</string>
            <key>textureFileName</key>
            <string>tx_1014testanniu0.png</string>
        </dict>
    </dict>
</plist>
