<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1/1effect_chuandip.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,763},{182,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,184}}</string>
                <key>sourceSize</key>
                <string>{182,184}</string>
            </dict>
            <key>1/2effect_taitou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,763},{292,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,60}}</string>
                <key>sourceSize</key>
                <string>{292,60}</string>
            </dict>
            <key>1/3effect_laba.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,824},{166,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,210}}</string>
                <key>sourceSize</key>
                <string>{166,210}</string>
            </dict>
            <key>1/4effect_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,512},{462,250}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,250}}</string>
                <key>sourceSize</key>
                <string>{466,250}</string>
            </dict>
            <key>1/5effect_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,512},{228,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,20}}</string>
                <key>sourceSize</key>
                <string>{228,20}</string>
            </dict>
            <key>1/6effect_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,959},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>2ziti/01-L_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,948},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>2ziti/02-_effectE.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,824},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>2ziti/03-effectV.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,873},{38,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>2ziti/06-Ueffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,873},{36,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>2ziti/07-Peffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,922},{36,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{36,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>2ziti/08-fuhaoeffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,922},{18,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{18,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>effect_guansu 2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{508,510}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{508,510}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>effect_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,824},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_20250.png</string>
            <key>size</key>
            <string>{510,991}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96d841253532c6c2dc95bdacc2a62823:1/1$</string>
            <key>textureFileName</key>
            <string>tx_20250.png</string>
        </dict>
    </dict>
</plist>
