<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_3005/tx_3005_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1},{160,160}}</string>
                <key>offset</key>
                <string>{-184,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{160,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3005/tx_3005_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,1},{160,160}}</string>
                <key>offset</key>
                <string>{-184,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{160,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3005/tx_3005_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,1},{160,160}}</string>
                <key>offset</key>
                <string>{-184,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{160,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3005/tx_3005_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{160,160}}</string>
                <key>offset</key>
                <string>{-184,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{160,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3005/tx_3005_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1},{160,160}}</string>
                <key>offset</key>
                <string>{-184,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{160,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3005/tx_3005_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{160,160}}</string>
                <key>offset</key>
                <string>{-184,-166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,356},{160,160}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_30050.png</string>
            <key>size</key>
            <string>{972,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0010349383a6a8977dcd043cea903be:ff28796ba44c35bdccd3052de7bb98f6:578a7e392c94943cf8eef276cb2b6a39$</string>
            <key>textureFileName</key>
            <string>tx_30050.png</string>
        </dict>
    </dict>
</plist>
