<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_3009/tx_3009_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{498,82}}</string>
                <key>offset</key>
                <string>{-131,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,326},{498,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3009/tx_3009_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,86},{498,82}}</string>
                <key>offset</key>
                <string>{-131,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,326},{498,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3009/tx_3009_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{498,82}}</string>
                <key>offset</key>
                <string>{-131,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,326},{498,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3009/tx_3009_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{498,82}}</string>
                <key>offset</key>
                <string>{-131,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,326},{498,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3009/tx_3009_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,82}}</string>
                <key>offset</key>
                <string>{-130,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,327},{498,82}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_30090.png</string>
            <key>size</key>
            <string>{1002,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebd33c950c6645729fbe7a0cb9b499c7:1/1$</string>
            <key>textureFileName</key>
            <string>tx_30090.png</string>
        </dict>
    </dict>
</plist>
