<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_3003/tx_3003_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,217},{98,54}}</string>
                <key>offset</key>
                <string>{193,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{624,188},{98,54}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3003/tx_3003_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{98,68}}</string>
                <key>offset</key>
                <string>{193,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,174},{98,68}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3003/tx_3003_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{98,74}}</string>
                <key>offset</key>
                <string>{193,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,168},{98,74}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3003/tx_3003_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,77},{98,68}}</string>
                <key>offset</key>
                <string>{193,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{624,174},{98,68}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
            <key>tx_3003/tx_3003_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{98,58}}</string>
                <key>offset</key>
                <string>{193,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{624,184},{98,58}}</string>
                <key>sourceSize</key>
                <string>{960,540}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_30030.png</string>
            <key>size</key>
            <string>{116,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1bef1ffbfbb02a4c106857660c762b:3781b184af72bfb01f117e96e5032bf5:d8b9de7650b12db4aedddb46e07d1d21$</string>
            <key>textureFileName</key>
            <string>tx_30030.png</string>
        </dict>
    </dict>
</plist>
