<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_4029/tx_4029_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,127},{396,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,141},{396,120}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_4029/tx_4029_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,125},{398,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{398,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_4029/tx_4029_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{398,124}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{398,124}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_4029/tx_4029_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,1},{398,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{398,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_4029/tx_4029_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1},{398,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{398,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_4029/tx_4029_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,125},{398,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{398,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>tx_4029/tx_4029_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1},{398,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,140},{398,122}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_40290.png</string>
            <key>size</key>
            <string>{1600,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:676f686a0b3c02d4c22d9c5c79fb7864:d24618651617bcfc7c51b999557dc8f9:b8384704dab18beec02e3bbab1aeacfa$</string>
            <key>textureFileName</key>
            <string>tx_40290.png</string>
        </dict>
    </dict>
</plist>
