<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_arena_bar/tx_arena_bar_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,809},{172,96}}</string>
                <key>offset</key>
                <string>{-151,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,17},{172,96}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,439},{368,102}}</string>
                <key>offset</key>
                <string>{-57,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,12},{368,102}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,111},{494,106}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{494,106}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{506,108}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{506,108}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,219},{468,108}}</string>
                <key>offset</key>
                <string>{30,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,6},{468,108}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{432,108}}</string>
                <key>offset</key>
                <string>{48,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,6},{432,108}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,439},{370,108}}</string>
                <key>offset</key>
                <string>{79,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,6},{370,108}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,809},{298,108}}</string>
                <key>offset</key>
                <string>{115,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,6},{298,108}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,919},{232,102}}</string>
                <key>offset</key>
                <string>{148,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,11},{232,102}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar/tx_arena_bar_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,907},{110,86}}</string>
                <key>offset</key>
                <string>{160,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,15},{110,86}}</string>
                <key>sourceSize</key>
                <string>{528,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,671},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,549},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,549},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,671},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,907},{120,112}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,112}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_arena_bar02/tx_arena_bar_san_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,671},{120,102}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_arena_bar0.png</string>
            <key>size</key>
            <string>{510,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cae33adab15bbc3347f739388e95308:3ca6f8ecc657fe49476ec67f2124f9a4:8199b45db19bd8688118782873575d29$</string>
            <key>textureFileName</key>
            <string>tx_arena_bar0.png</string>
        </dict>
    </dict>
</plist>
