<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_activity_duanwu_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,381},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,259},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,363},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,241},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,120}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,363},{120,118}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,118}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_effect_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,363},{120,110}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{120,110}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_effect_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{120,102}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{120,102}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>tx_activity_duanwu_ray_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_activity_duanwu_tex/tx_activity_duanwu_gaizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,111},{140,60}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{140,60}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>tx_activity_duanwu_tex/tx_activity_duanwu_xiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,111},{154,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{154,128}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>tx_activity_duanwu_tex/tx_activity_duanwu_yezi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{158,108}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,28},{158,108}}</string>
                <key>sourceSize</key>
                <string>{170,150}</string>
            </dict>
            <key>tx_activity_duanwu_tex/xiagzi_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,253},{74,60}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{74,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_activity_duanwu0.png</string>
            <key>size</key>
            <string>{476,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f15c3e9f5d08cd254dc3665bdc26b9a:eaad374bda8eb40c9fff86bf3b9f7381:1a09484011698734d6df700fb6e1cad1$</string>
            <key>textureFileName</key>
            <string>tx_activity_duanwu0.png</string>
        </dict>
    </dict>
</plist>
