<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1},{405,225}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,27},{405,225}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1},{403,223}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{403,223}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,226},{405,227}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,28},{405,227}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,1},{403,231}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,26},{403,231}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,228},{405,231}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,26},{405,231}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,234},{407,231}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,26},{407,231}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,224},{405,227}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{405,227}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
            <key>tx_activity_ongoing/tx_activity_ongoing_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{411,221}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{411,221}}</string>
                <key>sourceSize</key>
                <string>{495,299}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_activity_ongoing0.png</string>
            <key>size</key>
            <string>{1630,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd9957a71820370f9fb25b5c507d4e8a:1bcb124625c0e1f3fe813b62b417aa34:2fe3ce07c7a2fb0f1f85b9f1883e6d63$</string>
            <key>textureFileName</key>
            <string>tx_activity_ongoing0.png</string>
        </dict>
    </dict>
</plist>
