<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_arena_bar_grow/tx_arena_bar_grow__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1},{342,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{342,22}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>tx_arena_bar_grow/tx_arena_bar_grow__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1},{342,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{342,22}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>tx_arena_bar_grow/tx_arena_bar_grow__00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1},{342,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{342,22}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
            <key>tx_arena_bar_grow/tx_arena_bar_grow__00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{342,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{342,22}}</string>
                <key>sourceSize</key>
                <string>{400,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_arena_bar_grow0.png</string>
            <key>size</key>
            <string>{1032,24}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97956d7dee0c074de62cce48c21f33c3:9b6b283d66093aafb90f1ed24f74067f:69ed3078026d1ef2cb9b0f820cdb0487$</string>
            <key>textureFileName</key>
            <string>tx_arena_bar_grow0.png</string>
        </dict>
    </dict>
</plist>
