<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{72,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{72,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,83},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,83},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,83},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,83},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,83},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,79},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,1},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,1},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>q3-nvshen/tx_activity_icon_chuxian_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ray_orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,165},{222,212}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{222,212}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>shengguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,165},{256,248}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{256,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>tx_activity_icon_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,1},{78,76}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_avtivity_godness0.png</string>
            <key>size</key>
            <string>{492,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d50f7cc2c5a5eac20b8b1558ca6fa0f8:afc208ea0f31f3769448273956eba2ff:1f33be01ecb344490cb1fc45609c1294$</string>
            <key>textureFileName</key>
            <string>tx_avtivity_godness0.png</string>
        </dict>
    </dict>
</plist>
