<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_gangkou.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{200,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>tx_gangkou_dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,203},{70,82}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{70,82}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>tx_gangkou_dun_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,312},{94,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,107}}</string>
                <key>sourceSize</key>
                <string>{94,107}</string>
            </dict>
            <key>tx_gangkou_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,312},{86,84}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,84}}</string>
                <key>sourceSize</key>
                <string>{98,94}</string>
            </dict>
            <key>tx_gangkou_jian_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,203},{109,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,107}}</string>
                <key>sourceSize</key>
                <string>{109,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_boss_fight0.png</string>
            <key>size</key>
            <string>{198,407}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e30e56bcf6ba43c6a635bedeee2c038a:eb1b1b8e56dc4d6c740a2858128f9a44:0fed3d4cebf0c361f5c02edd21d9c8c6$</string>
            <key>textureFileName</key>
            <string>tx_boss_fight0.png</string>
        </dict>
    </dict>
</plist>
