<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhayan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{480,152}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,152}}</string>
                <key>sourceSize</key>
                <string>{480,270}</string>
            </dict>
            <key>zhayan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,1},{480,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,102}}</string>
                <key>sourceSize</key>
                <string>{480,102}</string>
            </dict>
            <key>zi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,105},{324,24}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,36},{324,24}}</string>
                <key>sourceSize</key>
                <string>{350,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_blink0.png</string>
            <key>size</key>
            <string>{964,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07155c4b6e9cc7a8f463313bfe00579e:e79fcd0f487e29293636c344a8e14313:1a08228e1e35e51752de8da4dde19ebe$</string>
            <key>textureFileName</key>
            <string>tx_blink0.png</string>
        </dict>
    </dict>
</plist>
