<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_chapter_frame/tx_chapter_frame_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,1},{178,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{178,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,171},{176,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,137},{176,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,103},{176,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{178,32}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{178,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,69},{176,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,35},{176,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
            <key>tx_chapter_frame/tx_chapter_frame_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,1},{176,32}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{176,32}}</string>
                <key>sourceSize</key>
                <string>{196,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_chapter_frame0.png</string>
            <key>size</key>
            <string>{246,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:672249f3f49d382e84c65dfa350fc6f5:6e4a535893c9d38acd08e239707cc63d:0e6be6a542c0f96f7b194a336e6efb11$</string>
            <key>textureFileName</key>
            <string>tx_chapter_frame0.png</string>
        </dict>
    </dict>
</plist>
