<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>glow_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>god02_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,204}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{202,204}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>hit_xhy/xhy_hit_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1},{171,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{171,68}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
            <key>hit_xhy/xhy_hit_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,141},{173,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{173,68}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
            <key>hit_xhy/xhy_hit_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,71},{169,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{169,68}}</string>
                <key>sourceSize</key>
                <string>{177,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_combo0.png</string>
            <key>size</key>
            <string>{507,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e938fee5a383264fe8bf7b18ebc91c2c:e57e2e20f17ed96e91ae98425295fe76:a1c40d98f261f0f242615614c56d38ee$</string>
            <key>textureFileName</key>
            <string>tx_combo0.png</string>
        </dict>
    </dict>
</plist>
