<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare05_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gfaz3_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,131},{122,124}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>gfaz4_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{246,246}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{246,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_chuanbo_tupo0.png</string>
            <key>size</key>
            <string>{378,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ad59077d6680ef6649ea8382d469bfe:357d6347b742c2a0d7776975f9b706ff:5ea4d0f8501ae5cfe1aef9a301792069$</string>
            <key>textureFileName</key>
            <string>tx_chuanbo_tupo0.png</string>
        </dict>
    </dict>
</plist>
