<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_chapter_txt/tx_chapter_txt_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1},{110,44}}</string>
                <key>offset</key>
                <string>{-38,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,44}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,1},{104,48}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{104,48}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{120,48}}</string>
                <key>offset</key>
                <string>{-27,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{120,48}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1},{130,46}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{130,46}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,1},{138,46}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{138,46}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1},{150,44}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{150,44}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,1},{150,42}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,6},{150,42}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1},{152,40}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,7},{152,40}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1},{156,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{156,40}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1},{150,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{150,40}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,1},{136,38}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{136,38}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1519,1},{134,36}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,10},{134,36}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,1},{98,28}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,12},{98,28}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
            <key>tx_chapter_txt/tx_chapter_txt_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,1},{74,22}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,16},{74,22}}</string>
                <key>sourceSize</key>
                <string>{196,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_chapter_txt0.png</string>
            <key>size</key>
            <string>{1830,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e4f06f7a2535267aa5342573db186b1:2896df51c7fa841c3ec9da3538d63458:74fcf693ea0fb1024d49de71f6fcf4af$</string>
            <key>textureFileName</key>
            <string>tx_chapter_txt0.png</string>
        </dict>
    </dict>
</plist>
