<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_explore_qte/tx_explore_qte0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,153},{59,91}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{59,91}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{79,89}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,89}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1},{87,81}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{87,81}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,90},{89,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{89,61}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{87,81}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{87,81}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{79,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{79,89}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,153},{59,91}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,5},{59,91}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,175},{79,89}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{79,89}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,1},{87,81}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{87,81}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,90},{89,61}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{89,61}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{87,81}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{87,81}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
            <key>tx_explore_qte/tx_explore_qte0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,84},{79,89}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{79,89}}</string>
                <key>sourceSize</key>
                <string>{107,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_explore_qte0.png</string>
            <key>size</key>
            <string>{172,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e040a6502ba8aaf016c2d2d53db3c67:5fc1b9b430ac4ac31c761be073a8c685:9d5d8a051cb39e2a33511aea25dba4e0$</string>
            <key>textureFileName</key>
            <string>tx_explore_qte0.png</string>
        </dict>
    </dict>
</plist>
