<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hb_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,113},{130,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,160}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>hb_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{164,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,110}}</string>
                <key>sourceSize</key>
                <string>{164,110}</string>
            </dict>
            <key>tx_tx_guild_red_packet.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_guild_red_packet0.png</string>
            <key>size</key>
            <string>{424,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8d1cf1929a4f60ddc33c3f5214da5ae:e8e685b3f8b674a8dcc41b198e9af357:a11e18d8e429fe7ce97a6625e43e7ee5$</string>
            <key>textureFileName</key>
            <string>tx_guild_red_packet0.png</string>
        </dict>
    </dict>
</plist>
