<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>del.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1253},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{48,50}</string>
            </dict>
            <key>tx_huodong_anniuline.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1183},{66,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{66,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,397},{394,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{394,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{394,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{394,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,789},{392,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{392,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1189},{394,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{394,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,793},{394,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{394,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,395},{392,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{392,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1},{392,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{392,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,793},{392,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{392,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,397},{394,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{394,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
            <key>tx_huodongliuguang/tx_huodongliuguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{394,154}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{394,154}}</string>
                <key>sourceSize</key>
                <string>{420,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_huodong0.png</string>
            <key>size</key>
            <string>{468,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2efc9da6057adc1150f80b2719d5f54d:637c84aaf4e3b17ab04bfd90cede133b:a8ed61e30fb572b89463387863dafea6$</string>
            <key>textureFileName</key>
            <string>tx_huodong0.png</string>
        </dict>
    </dict>
</plist>
