<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_book.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,83},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{64,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yellowguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_jiangli0.png</string>
            <key>size</key>
            <string>{82,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3074131518a362ca8ad6f6caa471414d:fb585dbeafae02a792188e8ec02d950f:5552a5acf7309f48a92b045b077b6b07$</string>
            <key>textureFileName</key>
            <string>tx_jiangli0.png</string>
        </dict>
    </dict>
</plist>
