<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_land_lighthouse_02/model_land_lighthouse_02_shang_.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1},{70,88}}</string>
                <key>offset</key>
                <string>{2,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,55},{70,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_land_lighthouse_02/model_land_lighthouse_02_xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,1},{206,218}}</string>
                <key>offset</key>
                <string>{-47,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{206,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_land_lighthouse_02/tx_land_lighthouse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,246}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,26},{48,246}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_land_lighthouse_020.png</string>
            <key>size</key>
            <string>{330,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86c08cd9f5e101beed32e51276f23e3e:00608e4b4c525bf6c250016861324baa:c40986815e45b843c9b897c43f23e43d$</string>
            <key>textureFileName</key>
            <string>tx_land_lighthouse_020.png</string>
        </dict>
    </dict>
</plist>
