<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_land_smog_1/tx_land_smog_1_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,624},{46,85}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{46,85}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,535},{46,87}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{46,87}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,274},{48,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,89}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{48,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,89}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,92},{48,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,89}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,89}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,89}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,450},{48,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,83}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
            <key>tx_land_smog_1/tx_land_smog_1_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{48,83}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{48,83}}</string>
                <key>sourceSize</key>
                <string>{52,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_land_smog_10.png</string>
            <key>size</key>
            <string>{50,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621abf4af6b0e1da1f56dbee511a3d34:84e174fe8e758097129e58fd0a355a5a:b461b57453ce5aa557645520d29c8a9a$</string>
            <key>textureFileName</key>
            <string>tx_land_smog_10.png</string>
        </dict>
    </dict>
</plist>
