<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_land_lighthouse_01/model_land_lighthouse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{202,220}}</string>
                <key>offset</key>
                <string>{-49,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{202,220}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_land_lighthouse_01/tx_land_lighthouse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{170,170}}</string>
                <key>offset</key>
                <string>{4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,49},{170,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_land_lighthouse_010.png</string>
            <key>size</key>
            <string>{204,394}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e960d1912dea7bc8f71a8b200ff80e69:e3f51f827fb9379cced36c6789b4dafb:0a746d4999dd3f87a0afc832360073a6$</string>
            <key>textureFileName</key>
            <string>tx_land_lighthouse_010.png</string>
        </dict>
    </dict>
</plist>
