<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_land_fire_4/tx_land_fire_4_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{69,144}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{69,144}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1},{67,144}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,144}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1},{67,142}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{67,142}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{67,142}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{67,142}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1},{67,136}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{67,136}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,70},{69,138}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,10},{69,138}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,145},{69,138}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{69,138}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
            <key>tx_land_fire_4/tx_land_fire_4_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,147},{69,142}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{69,142}}</string>
                <key>sourceSize</key>
                <string>{81,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_land_fire_40.png</string>
            <key>size</key>
            <string>{416,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1a64256fcc9ff338c2d9667d3efc3cb:794d549a01c57010dce835961eae0a20:58ab5230e6c3e406bef074336f212870$</string>
            <key>textureFileName</key>
            <string>tx_land_fire_40.png</string>
        </dict>
    </dict>
</plist>
