<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_dice.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,1},{30,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tx_dice_mohu.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_login_dice0.png</string>
            <key>size</key>
            <string>{98,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c9d499fa476c25204d983c997b38b12:dd276091a0d74fd05f639696c0cae7b9:d08bc6611f0af09aa9165d7731b2291d$</string>
            <key>textureFileName</key>
            <string>tx_login_dice0.png</string>
        </dict>
    </dict>
</plist>
