<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_land_fire_1/tx_land_fire_1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{33,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,50}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,321},{33,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,50}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{33,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{33,52}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,109},{33,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{33,52}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,55},{33,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{33,52}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{33,52}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{33,52}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{33,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,50}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
            <key>tx_land_fire_1/tx_land_fire_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,217},{33,50}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{33,50}}</string>
                <key>sourceSize</key>
                <string>{39,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_land_fire_10.png</string>
            <key>size</key>
            <string>{35,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:597d2ee79a6dfd786f0cada0fbcb82dc:ea8b1a5ef5c3d9e7a94c943b4ec9dedf:5c316d23935b764ea1b41178bb6e7be0$</string>
            <key>textureFileName</key>
            <string>tx_land_fire_10.png</string>
        </dict>
    </dict>
</plist>
