<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_land_smog_2/tx_land_smog_2_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,900},{64,123}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{64,123}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,773},{66,125}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{66,125}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,517},{68,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{68,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{70,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,132},{70,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{70,129}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,129}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,394},{70,121}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{70,121}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
            <key>tx_land_smog_2/tx_land_smog_2_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,648},{68,123}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{68,123}}</string>
                <key>sourceSize</key>
                <string>{74,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_land_smog_20.png</string>
            <key>size</key>
            <string>{72,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feb73905c2688a3eb62f8005e20d2105:229b773d1b74a0fe86cb68dca48f48c8:e2159d8c1fd3e35372ba7caa8eadaa63$</string>
            <key>textureFileName</key>
            <string>tx_land_smog_20.png</string>
        </dict>
    </dict>
</plist>
