<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_map_light/tx_map_light0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1},{49,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{49,60}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1},{53,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{53,60}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1},{59,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{59,54}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1},{59,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{59,42}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1},{59,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{59,54}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{53,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{53,60}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,1},{49,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{49,60}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,1},{53,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{53,60}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1},{59,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{59,54}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1},{59,42}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{59,42}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1},{59,54}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{59,54}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>tx_map_light/tx_map_light0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{53,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{53,60}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_map_light0.png</string>
            <key>size</key>
            <string>{317,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d4366e5462783490d3f07c34545d099:a17410fcb836499bf1c6de1544db6172:4e66e434c9aa876e2cdeb0189508b999$</string>
            <key>textureFileName</key>
            <string>tx_map_light0.png</string>
        </dict>
    </dict>
</plist>
