<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_new_port_huan/tx_new_port_huan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,1},{142,170}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,58},{142,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,175},{142,170}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,58},{142,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1},{142,172}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,57},{142,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,1},{144,172}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,57},{144,172}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,355},{146,174}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,56},{146,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,359},{150,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{150,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,353},{156,176}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,56},{156,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1153,177},{158,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,57},{158,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,177},{162,176}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,56},{162,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,179},{166,178}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,55},{166,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1},{168,176}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,57},{168,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1},{166,174}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,57},{166,174}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,347},{142,168}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,60},{142,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_huan/tx_new_port_huan_00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,347},{142,168}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,60},{142,168}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{300,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{300,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{300,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{300,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1},{284,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{284,270}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,303},{202,206}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{202,206}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{204,222}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{204,222}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,287},{210,218}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,42},{210,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,303},{196,178}}</string>
                <key>offset</key>
                <string>{-12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,57},{196,178}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_new_port_pao/tx_new_port_bao_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,287},{10,10}}</string>
                <key>offset</key>
                <string>{-10,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,140},{10,10}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_new_port0.png</string>
            <key>size</key>
            <string>{1588,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cecb20eaf8bd7977433c4de4a8389ee2:1ef79716bd1429ed1da50867a6c3f55d:7f73a12983913539dd7db91cfc18ed68$</string>
            <key>textureFileName</key>
            <string>tx_new_port0.png</string>
        </dict>
    </dict>
</plist>
