<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_new_chapter_boat/chuan_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1746,1},{123,82}}</string>
                <key>offset</key>
                <string>{-124,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,110},{123,82}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,1313},{579,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,985},{579,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,657},{579,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1313},{579,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,985},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,329},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,657},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1313},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,985},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,1},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,329},{579,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,657},{579,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,329},{581,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{581,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{581,326}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{581,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water/xunhuan_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1},{579,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,30},{579,326}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water2/shuiti_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,1158},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,189},{13,8}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
            <key>tx_new_chapter_water2/shuiti_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,657},{499,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,52},{499,282}}</string>
                <key>sourceSize</key>
                <string>{687,386}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_new_chapter0.png</string>
            <key>size</key>
            <string>{2027,1640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f31286a2706da540bccb13b58434038:c8d00cf23580d9bd265eeccbc1849fc3:2462f237488e93e87758359636f6690c$</string>
            <key>textureFileName</key>
            <string>tx_new_chapter0.png</string>
        </dict>
    </dict>
</plist>
