<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_new_activity01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{532,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{532,142}}</string>
                <key>sourceSize</key>
                <string>{532,142}</string>
            </dict>
            <key>tx_new_activity01grow.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_new_activity010.png</string>
            <key>size</key>
            <string>{664,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc614c6d2fdce43d786f3fb2a941d0d:033409a327719ab00c4687b14426449b:e71b8d177f642cc022c10d5bcacccebd$</string>
            <key>textureFileName</key>
            <string>tx_new_activity010.png</string>
        </dict>
    </dict>
</plist>
