<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_portfight_helm_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,230}}</string>
                <key>sourceSize</key>
                <string>{180,230}</string>
            </dict>
            <key>tx_portfight_helm_sword.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,128},{84,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,88}}</string>
                <key>sourceSize</key>
                <string>{84,88}</string>
            </dict>
            <key>tx_portfight_helm_wheel.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{124,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,125}}</string>
                <key>sourceSize</key>
                <string>{124,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_portfight_helm0.png</string>
            <key>size</key>
            <string>{308,232}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2090bf07bb6b8cd59cc42320855adc84:225557fa8a7a4af648445b7012ca4f51:f3221e2b3a3c64b6b7fe7996e5f37bf8$</string>
            <key>textureFileName</key>
            <string>tx_portfight_helm0.png</string>
        </dict>
    </dict>
</plist>
