<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>penquanok/effect_penquana_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,361},{58,36}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,20},{58,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,302},{58,36}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{58,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,123},{60,36}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{60,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,420},{58,34}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{58,34}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,62},{60,36}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{60,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,243},{58,36}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{58,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,184},{58,36}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,21},{58,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>penquanok/effect_penquana_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{60,36}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,20},{60,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_penquan0.png</string>
            <key>size</key>
            <string>{38,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3235d5bb25a5c65b6a98235d378978c0:1/1$</string>
            <key>textureFileName</key>
            <string>tx_penquan0.png</string>
        </dict>
    </dict>
</plist>
