<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ani_common_head_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,829},{144,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,127}}</string>
                <key>sourceSize</key>
                <string>{144,127}</string>
            </dict>
            <key>tx_break_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,737},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_enhance_success.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,645},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_new_port.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,553},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_port_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,461},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_txt_rank_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,369},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_txt_trade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,277},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_txt_trade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,185},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_txt_trade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,93},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>tx_txt_trade_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,90}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_qianghua0.png</string>
            <key>size</key>
            <string>{182,957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec705ba538affa380f455b1dd8a6851f:b8d6d0a0d2a801725fada2d08acce2cb:3f9a33206e6fb514769195077b7063a0$</string>
            <key>textureFileName</key>
            <string>tx_qianghua0.png</string>
        </dict>
    </dict>
</plist>
