<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_recruit_collect_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{114,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{114,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,335},{118,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{118,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,69},{124,64}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{124,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{124,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{124,66}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,267},{118,66}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{118,66}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,201},{120,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{120,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{122,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{122,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>tx_recruit_collect_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,401},{114,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{114,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_recruit_collect0.png</string>
            <key>size</key>
            <string>{126,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b4b02ff0fdba07e8b914b3581b630f7:2fac79e234c15e382fb18eb94874b685:66bdfe5702e3fcad318537f6d698a3c5$</string>
            <key>textureFileName</key>
            <string>tx_recruit_collect0.png</string>
        </dict>
    </dict>
</plist>
