<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>555.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,963},{222,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,53}}</string>
                <key>sourceSize</key>
                <string>{222,53}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,846},{90,67}}</string>
                <key>offset</key>
                <string>{-67,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,26},{90,67}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,773},{134,71}}</string>
                <key>offset</key>
                <string>{-55,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,24},{134,71}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,698},{158,73}}</string>
                <key>offset</key>
                <string>{-31,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,23},{158,73}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,621},{170,75}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,24},{170,75}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,771},{156,73}}</string>
                <key>offset</key>
                <string>{30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,26},{156,73}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,621},{124,71}}</string>
                <key>offset</key>
                <string>{53,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,27},{124,71}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_1/tx_role_select_1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,963},{86,53}}</string>
                <key>offset</key>
                <string>{71,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,42},{86,53}}</string>
                <key>sourceSize</key>
                <string>{310,115}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,771},{252,93}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,80},{252,93}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,259},{254,95}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,79},{254,95}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1},{256,97}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,78},{256,97}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,846},{256,115}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,60},{256,115}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,752},{256,123}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,52},{256,123}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,752},{256,129}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,52},{256,129}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,615},{260,135}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,46},{260,135}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,515},{254,145}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{254,145}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,468},{264,151}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,25},{264,151}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{268,153}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,20},{268,153}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{282,155}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{282,155}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,158},{286,157}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{286,157}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1},{290,155}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{290,155}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{292,149}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{292,149}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,152},{288,149}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{288,149}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
            <key>tx_role_select_2/tx_role_select_2_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,317},{282,149}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{282,149}}</string>
                <key>sourceSize</key>
                <string>{310,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_role_select_10.png</string>
            <key>size</key>
            <string>{692,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adbeaf0b9c05b8c9fd506961b9886993:431156a699ee1c8b01a3243bd21e22a2:1a60dd6014ace12e8b12d4c3832a5e58$</string>
            <key>textureFileName</key>
            <string>tx_role_select_10.png</string>
        </dict>
    </dict>
</plist>
