<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,491},{444,472}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{444,472}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,491},{382,476}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,16},{382,476}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,1469},{402,484}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,12},{402,484}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,981},{398,486}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,13},{398,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,969},{416,486}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,13},{416,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,1457},{410,486}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,13},{410,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1471},{418,486}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,13},{418,486}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,981},{458,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{458,488}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{488,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{488,488}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1},{486,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{486,488}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>tx_sailor_awake_success/tx_sailor_awake_success__00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,491},{486,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{486,488}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sailor_awake_success0.png</string>
            <key>size</key>
            <string>{1318,1954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92b9c0bde42299427af607c21470f90f:4972a37732a542fe78027d26359e9278:afb0eec78938bbcd5941e98229c269dc$</string>
            <key>textureFileName</key>
            <string>tx_sailor_awake_success0.png</string>
        </dict>
    </dict>
</plist>
