<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,89},{402,72}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,15},{402,72}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,163},{404,84}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{404,84}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1},{404,86}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{404,86}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1},{404,86}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,1},{404,86}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,169},{404,72}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{404,72}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,1},{392,70}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{392,70}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1353,73},{390,70}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{390,70}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,89},{402,72}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{402,72}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,163},{404,84}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{404,84}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,163},{404,84}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{404,84}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,89},{400,72}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,15},{400,72}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1},{348,70}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,16},{348,70}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{244,70}}</string>
                <key>offset</key>
                <string>{74,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,16},{244,70}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
            <key>tx_skill_upgrade_saoguang/tx_skill_upgrade_saoguang_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1},{166,68}}</string>
                <key>offset</key>
                <string>{115,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,16},{166,68}}</string>
                <key>sourceSize</key>
                <string>{450,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_skill_upgrade_saoguang0.png</string>
            <key>size</key>
            <string>{1748,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7168517250c9480df5b9923a0221433a:d9f34266189779ccae48431d5f2fedf7:7b7972bdd7afca2435f99534ec2e99d7$</string>
            <key>textureFileName</key>
            <string>tx_skill_upgrade_saoguang0.png</string>
        </dict>
    </dict>
</plist>
