<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_shop_item/tx_shop_item_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1597},{202,189}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,94},{202,189}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
            <key>tx_shop_item/tx_shop_item_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1069},{238,263}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,28},{238,263}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
            <key>tx_shop_item/tx_shop_item_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,804},{240,263}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{240,263}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
            <key>tx_shop_item/tx_shop_item_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,539},{240,263}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{240,263}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
            <key>tx_shop_item/tx_shop_item_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,270},{240,267}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{240,267}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
            <key>tx_shop_item/tx_shop_item_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{240,267}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,28},{240,267}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
            <key>tx_shop_item/tx_shop_item_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1334},{232,261}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,32},{232,261}}</string>
                <key>sourceSize</key>
                <string>{318,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_shop_item0.png</string>
            <key>size</key>
            <string>{242,1787}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15c8a059164d6a0e692ccb06862e0505:af324d37d85b1b87cc9f64b28f92b5a7:435bdd5ad4d23bf135e6dd22cb2139a5$</string>
            <key>textureFileName</key>
            <string>tx_shop_item0.png</string>
        </dict>
    </dict>
</plist>
