<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,81},{14,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,40}}</string>
                <key>sourceSize</key>
                <string>{14,40}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,205},{32,34}}</string>
                <key>offset</key>
                <string>{-4,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,12},{32,34}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,157},{34,46}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{34,46}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,217},{36,60}}</string>
                <key>offset</key>
                <string>{-2,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{36,60}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,159},{50,64}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,14},{50,64}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{78,76}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{78,76}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,85},{92,78}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,30},{92,78}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{90,82}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{90,82}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,1},{82,82}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,45},{82,82}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,85},{82,72}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,57},{82,72}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,63},{78,66}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,159},{74,56}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,66},{74,56}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,85},{70,48}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,71},{70,48}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
            <key>tx_skill_unlock/tx_skill_unlock0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,225},{64,30}}</string>
                <key>offset</key>
                <string>{-2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,88},{64,30}}</string>
                <key>sourceSize</key>
                <string>{120,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_skill_unlock0.png</string>
            <key>size</key>
            <string>{244,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1a2bd9950ba4da9f0b3bb3b23ae90dc:e1fc8caa3d22ccbf2815c406859a311f:922522e2912dd940d32b06d3546566d5$</string>
            <key>textureFileName</key>
            <string>tx_skill_unlock0.png</string>
        </dict>
    </dict>
</plist>
