<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1057},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1057},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,983},{62,80}}</string>
                <key>offset</key>
                <string>{-71,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,159},{62,80}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,927},{120,138}}</string>
                <key>offset</key>
                <string>{-66,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,135},{120,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,623},{146,188}}</string>
                <key>offset</key>
                <string>{-78,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,119},{146,188}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,1},{190,226}}</string>
                <key>offset</key>
                <string>{-77,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,113},{190,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1},{282,264}}</string>
                <key>offset</key>
                <string>{-54,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,107},{282,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,629},{294,296}}</string>
                <key>offset</key>
                <string>{-65,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,103},{294,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,587},{248,264}}</string>
                <key>offset</key>
                <string>{-56,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,132},{248,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,325},{296,302}}</string>
                <key>offset</key>
                <string>{-67,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,114},{296,302}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,717},{334,338}}</string>
                <key>offset</key>
                <string>{-77,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,98},{334,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1111,587},{232,272}}</string>
                <key>offset</key>
                <string>{-24,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,86},{232,272}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1},{254,294}}</string>
                <key>offset</key>
                <string>{-30,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,70},{254,294}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,475},{146,200}}</string>
                <key>offset</key>
                <string>{38,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,185},{146,200}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,285},{184,256}}</string>
                <key>offset</key>
                <string>{36,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,161},{184,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,677},{220,304}}</string>
                <key>offset</key>
                <string>{32,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,145},{220,304}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1},{252,338}}</string>
                <key>offset</key>
                <string>{30,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,139},{252,338}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{270,368}}</string>
                <key>offset</key>
                <string>{20,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,132},{270,368}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,303},{252,296}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,129},{252,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_lizi/tx_ship_enhance_lizi_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1},{270,322}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,130},{270,322}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,927},{148,138}}</string>
                <key>offset</key>
                <string>{-140,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,136},{148,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,895},{150,146}}</string>
                <key>offset</key>
                <string>{-143,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,163},{150,146}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1185,861},{200,246}}</string>
                <key>offset</key>
                <string>{-65,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,127},{200,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,1},{300,254}}</string>
                <key>offset</key>
                <string>{-37,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,114},{300,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,371},{344,296}}</string>
                <key>offset</key>
                <string>{-22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,116},{344,296}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,341},{334,246}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,127},{334,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1543,285},{228,254}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,119},{228,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,221},{234,252}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,121},{234,252}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1099,297},{288,256}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,117},{288,256}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1595,541},{174,176}}</string>
                <key>offset</key>
                <string>{120,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,174},{174,176}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,601},{292,254}}</string>
                <key>offset</key>
                <string>{85,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,112},{292,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,771},{182,240}}</string>
                <key>offset</key>
                <string>{68,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,116},{182,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,853},{208,220}}</string>
                <key>offset</key>
                <string>{79,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,136},{208,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1773,1},{218,236}}</string>
                <key>offset</key>
                <string>{38,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,119},{218,236}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1839,771},{172,178}}</string>
                <key>offset</key>
                <string>{13,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,121},{172,178}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,895},{168,180}}</string>
                <key>offset</key>
                <string>{15,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,118},{168,180}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1057},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1057},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1057},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>tx_ship_enhance_zhui/tx_ship_enhance_zhui_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1057},{1,1}}</string>
                <key>offset</key>
                <string>{-249.5,249.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_ship_enhance0.png</string>
            <key>size</key>
            <string>{2012,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd938de0929d1e9669a8b3fb09b46d1:ebc3372cdd1a1ec206e7e17252e16be9:84789f7f96eb0137ee4f34945af21ca9$</string>
            <key>textureFileName</key>
            <string>tx_ship_enhance0.png</string>
        </dict>
    </dict>
</plist>
