<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,365},{108,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,40},{108,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,183},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,183},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,183},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,181},{170,178}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{170,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1},{172,178}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{172,178}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,1},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,183},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,365},{94,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{94,100}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,365},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,37},{96,106}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,365},{102,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,35},{102,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,361},{104,112}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{104,112}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,365},{100,114}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,37},{100,114}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,365},{68,96}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{68,96}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,365},{58,48}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,104},{58,48}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>tx_skill_upgrade_zhang/tx_skill_upgrade_zhang_00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,425},{46,42}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,107},{46,42}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_skill_upgrade_zhang0.png</string>
            <key>size</key>
            <string>{902,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cca314674e9abbfd7f7f95bb71753fa3:b533db6ddaee87a43daf5d5c87a7588e:fa37dfdef5274e2c7b194da738e3e76b$</string>
            <key>textureFileName</key>
            <string>tx_skill_upgrade_zhang0.png</string>
        </dict>
    </dict>
</plist>
