<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dian_silor_trans.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{112,112}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{112,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>red_huan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>star_silor_trans.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,259},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,30}}</string>
                <key>sourceSize</key>
                <string>{28,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sailor_trans0.png</string>
            <key>size</key>
            <string>{258,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d96f449d79ef793851fdb3496c8004:7f898b03c8b67eb015e7c945797c0e44:08e274144f93c02b3967263971e35044$</string>
            <key>textureFileName</key>
            <string>tx_sailor_trans0.png</string>
        </dict>
    </dict>
</plist>
