<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_ship_build_01/tx_ship_build_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1085},{273,268}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{273,268}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_01/tx_ship_build_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{309,266}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{309,266}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_01/tx_ship_build_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,525},{291,264}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{291,264}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_01/tx_ship_build_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1066},{271,248}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,14},{271,248}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_01/tx_ship_build_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,608},{243,216}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,27},{243,216}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_01/tx_ship_build_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,1},{213,194}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,40},{213,194}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_01/tx_ship_build_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1875},{171,162}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,58},{171,162}}</string>
                <key>sourceSize</key>
                <string>{361,270}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1876},{154,160}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{154,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,1620},{254,218}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,22},{254,218}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,1317},{264,258}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,15},{264,258}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1062},{274,264}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{274,264}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,532},{290,272}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{290,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,269},{300,272}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,550},{286,268}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{286,268}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1577},{216,224}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{216,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1803},{212,224}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,37},{212,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hang/tx_ship_build_hang_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1577},{206,224}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{206,224}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_hg.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1},{300,284}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{300,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,1876},{151,158}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,68},{151,158}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1620},{253,220}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,5},{253,220}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1618},{263,258}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{263,258}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1453,853},{273,258}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,0},{273,258}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,806},{281,258}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{281,258}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,543},{289,256}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{289,256}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1},{297,256}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{297,256}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,806},{285,254}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{285,254}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,1390},{177,192}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,36},{177,192}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1511,216},{175,194}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,35},{175,194}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lan/tx_ship_build_lan_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,1839},{165,194}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,36},{165,194}}</string>
                <key>sourceSize</key>
                <string>{333,270}</string>
            </dict>
            <key>tx_ship_build_lg.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1328},{264,254}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{264,254}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,1878},{151,159}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,60},{151,159}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,1577},{253,219}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,6},{253,219}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1355},{263,263}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{263,263}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1353},{273,263}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{273,263}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,820},{283,263}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{283,263}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,287},{289,261}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{289,261}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,274},{293,261}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{293,261}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1},{297,261}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{297,261}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,264},{295,259}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{295,259}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lv/tx_ship_build_lv_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,791},{285,259}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{285,259}}</string>
                <key>sourceSize</key>
                <string>{311,267}</string>
            </dict>
            <key>tx_ship_build_lvg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,1128},{270,260}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{270,260}}</string>
                <key>sourceSize</key>
                <string>{270,270}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1878},{157,159}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,68},{157,159}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1584},{253,219}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,20},{253,219}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1316},{267,259}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{267,259}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,1052},{277,263}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{277,263}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,537},{287,267}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{287,267}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,259},{295,271}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,271}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1},{297,271}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,271}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,801},{285,267}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{285,267}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,393},{213,201}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,40},{213,201}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1832},{211,203}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{211,203}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zi/tx_ship_build_zi_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,1803},{191,203}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,40},{191,203}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
            <key>tx_ship_build_zig.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1070},{281,281}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{281,281}}</string>
                <key>sourceSize</key>
                <string>{297,297}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_ship_build0.png</string>
            <key>size</key>
            <string>{1712,2038}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8241827896c7029a3e9a4d307bb6a519:5d10f3822a805baa9f26c5bc664a99c0:1e67c276e4531124ec3e124e2bd0d692$</string>
            <key>textureFileName</key>
            <string>tx_ship_build0.png</string>
        </dict>
    </dict>
</plist>
