<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luoxuan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1007},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1131},{64,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,99},{64,66}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,861},{150,144}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{150,144}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{236,236}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{236,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,477},{242,236}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{242,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,239},{244,236}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{244,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{248,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{248,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,821},{116,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{116,104}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1029},{110,100}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,84},{110,100}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook/tx_skillbook_coin0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1137},{52,68}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,91},{52,68}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,1131},{64,66}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,99},{64,66}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,715},{150,144}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{150,144}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,715},{236,236}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,16},{236,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,477},{242,236}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{242,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{244,236}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{244,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{248,236}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{248,236}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,715},{116,104}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{116,104}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,927},{110,100}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,84},{110,100}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
            <key>tx_skillbook_diamond/tx_skillbook_diamond0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1137},{52,68}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,91},{52,68}}</string>
                <key>sourceSize</key>
                <string>{286,272}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_skillbook0.png</string>
            <key>size</key>
            <string>{510,1198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751fb7e919d9556c497690bce30e39d8:c54ca31baa17ea7d84a6ed2b00210b20:196af52a6ac1c03dcc694123a780494b$</string>
            <key>textureFileName</key>
            <string>tx_skillbook0.png</string>
        </dict>
    </dict>
</plist>
