<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,1},{114,48}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{114,48}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,1},{144,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1},{152,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{152,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1},{152,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{152,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1},{156,50}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{156,50}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{156,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,1},{144,50}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{144,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{140,50}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,0},{140,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,53},{138,50}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{138,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,53},{138,50}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{138,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,1},{120,50}}</string>
                <key>offset</key>
                <string>{32,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{120,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,53},{110,50}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,53},{96,50}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,53},{96,50}}</string>
                <key>offset</key>
                <string>{46,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,0},{96,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,53},{76,50}}</string>
                <key>offset</key>
                <string>{51,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,0},{76,50}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,53},{60,46}}</string>
                <key>offset</key>
                <string>{57,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,4},{60,46}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
            <key>tx_sailor_upgrade/tx_sailor_upgrade_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,53},{40,40}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_sailor_upgrade0.png</string>
            <key>size</key>
            <string>{1018,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb5474e6a7cd87e57774f39f35dc42f1:7d506d3f6616eca68653a587c87a7360:05c4f25097768242503b08594d0d5faa$</string>
            <key>textureFileName</key>
            <string>tx_sailor_upgrade0.png</string>
        </dict>
    </dict>
</plist>
