<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_dop_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_ponit_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,131},{124,120}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{124,120}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_treasure_fire0.png</string>
            <key>size</key>
            <string>{130,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ddb02eab58f044092ebbc565dabb288:5ef421c6448296d79b5dd7c0434ea3dc:79efbff7d863c1c56c3352023ff54cd2$</string>
            <key>textureFileName</key>
            <string>tx_treasure_fire0.png</string>
        </dict>
    </dict>
</plist>
