<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,39},{8,10}}</string>
                <key>offset</key>
                <string>{-11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{8,10}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,39},{24,28}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{24,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1},{32,36}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{32,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,1},{36,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{36,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,1},{36,36}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{36,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{30,32}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,18},{30,32}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,41},{18,26}}</string>
                <key>offset</key>
                <string>{12,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{18,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan/tx_tubiao_liuguang0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,41},{10,14}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,34},{10,14}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_wenjuan_ring.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tx_wenjuan_liuguang0.png</string>
            <key>size</key>
            <string>{206,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65e6b033431bd994d28ab311352706fc:73d1deb9f21a5f61fe9db12e92f7f33d:74014f5419f5f6a6ff013ec4ed0637d0$</string>
            <key>textureFileName</key>
            <string>tx_wenjuan_liuguang0.png</string>
        </dict>
    </dict>
</plist>
