<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boat23-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,411},{366,230}}</string>
                <key>offset</key>
                <string>{-54,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,102},{366,230}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat23-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,303},{486,106}}</string>
                <key>offset</key>
                <string>{6,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,262},{486,106}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat23-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,411},{240,266}}</string>
                <key>offset</key>
                <string>{99,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,60},{240,266}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat23-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{486,300}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{486,300}}</string>
                <key>sourceSize</key>
                <string>{578,410}</string>
            </dict>
            <key>boat23_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,679},{16,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,14},{16,15}}</string>
                <key>sourceSize</key>
                <string>{68,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>230.png</string>
            <key>size</key>
            <string>{488,778}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3282eedf02d344dbeb9dd47d62c44eb:a9a58b114640a3cce3e8927268647a57:73554ad4919dfa8bb13e9de49ef61a28$</string>
            <key>textureFileName</key>
            <string>230.png</string>
        </dict>
    </dict>
</plist>
